<div class="about-view tint-bg">

    <div class="row about-header">

        <div class="col-sm-12">
            
            <h1 translate>1ROOF maakt je leven makkelijker.</h1>

        </div>

    </div>

    <div class="container inner-sm">
        <div class="row">

            <div class="col-sm-6">
                <blockquote>
                    <p translate>Veel makkelijker dan elke andere service. 1ROOF is de oplossing voor elke huisbaas! </p><cite>- Tim</cite>
                </blockquote>

            </div>

            <div class="col-sm-6">
                <blockquote>
                    <p translate>Dankzij 1ROOF heb ik samen met mijn vriendin het ideale appartement gevonden. Bedankt voor jullie hulp! </p><cite>- Arno</cite>
                </blockquote>

            </div>

        </div>

<!--         <div class="row">
            <div class="col-sm-6" animate-element>
                <h1 class="single-block">Brought to you by Frederik Vanhevel</h1>
                
                <h4>If you want to help, you can tip me some bitcoin :) </h4>
                <div class="cb-tip-button" data-content-location="" data-href="//www.coinbase.com/tip_buttons/show_tip" data-to-user-id="53fca7477e8aeb6263000001"></div>
    			
    			<script>
    			!function(d,s,id) {var js,cjs=d.getElementsByTagName(s)[0],e=d.getElementById(id);if(e){return;}js=d.createElement(s);js.id=id;js.src="https://www.coinbase.com/assets/tips.js";cjs.parentNode.insertBefore(js,cjs);}(document, 'script', 'coinbase-tips');
    			</script>

            </div>
        </div> -->
    </div>
</div>
