<div class="about-view tint-bg">
    <div class="container inner-sm">
        <div class="col-sm-11 center-block text-center" animate-element>
            <h1 class="single-block">Brought to you by Frederik Vanhevel</h1>
            
            <h4>If you want to help, you can tip me some bitcoin :) </h4>
            <div class="cb-tip-button" data-content-location="" data-href="//www.coinbase.com/tip_buttons/show_tip" data-to-user-id="53fca7477e8aeb6263000001"></div>
			
			<script>
			!function(d,s,id) {var js,cjs=d.getElementsByTagName(s)[0],e=d.getElementById(id);if(e){return;}js=d.createElement(s);js.id=id;js.src="https://www.coinbase.com/assets/tips.js";cjs.parentNode.insertBefore(js,cjs);}(document, 'script', 'coinbase-tips');
			</script>

        </div>
    </div>
</div>
