<section data-ng-controller="HomeController" class="home-view comingsoon-view">

    <div id="hero">
        <div class="video-container" video-shuffle></div>
        <div class="raster">
            <div class="hero-content col-sm-offset-2 col-sm-8">
                <!-- <h1 translate> -->
                <h1>Hou je klaar,</h1>
                <br>
                <br>
                <br>
                <h1>We zijn binnenkort online!</h1>
                <!-- </h1> -->
                <p><a href="/rooms/new" class="btn btn-large">Voeg je advertentie toe! <i class="icon-right-1"></i></a></p>
            </div>
        </div>
    </div>

    <section id="who-we-are green-bg">
        <div class="container inner-top inner-bottom-sm">

            <div class="inner-top-sm text-center">

                <div class="col-sm-4 inner-bottom-xs">
                    <div class="icon">
                        <i class="icon-chat-1 icn lg"></i>
                    </div>
                    <h2 translate>Chat met je huisbaas</h2>
                    <p class="text-small" translate>Praat en stel vragen met de huisbazen alsof ze naast jou zaten. Krijg vliegensvlug een antwoord.</p>
                </div>

                <div class="col-sm-4 inner-bottom-xs">
                    <div class="icon">
                        <i class="icon-calendar-1 icn lg"></i>
                    </div>
                    <h2 translate>Maak een afspraak</h2>
                    <p class="text-small" translate>Met amper twee klikken kan je een afspraak maken met een huisbaas. Geen tijd te verliezen!</p>
                </div>

                <div class="col-sm-4 inner-bottom-xs">
                    <div class="icon">
                        <i class="icon-lamp icn lg"></i>
                    </div>
                    <h2 translate>Krijg meldingen</h2>
                    <p class="text-small" translate>Je droomhuis nog niet kunnen vinden? Geen nood, we kunnen je een email sturen als er een advertentie wordt geplaatst die aan jouw criteria voldoet.</p>
                </div>

            </div>
        </div>
    </section>

</section>
