<div class="container" data-ng-controller="HeaderController" ng-init="init()">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">Apollo</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<form ng-submit="goToSearch()" class="navbar-form navbar-left" role="search">
      <div class="input-group input-group-sm">
	      <input  ng-autocomplete details="searchDetails" ng-model="search" class="form-control" placeholder="Search" name="srch-term" type="text">
	      <div class="input-group-btn">
	        <button class="btn btn-blue" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	      </div>
	    </div>
    </form>
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
				<a href="/#!/{{item.link}}">{{item.title}}</a>
			</li>
		</ul>
		<div class="navbar-form navbar-right">
			<div class="form-group">
        <a class="btn btn-orange advertise-button" href="/#!/rooms/new">Advertise your room</a>
      </div>
		</div>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="" ng-click="openSignupModal()">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="" ng-click="openSigninModal()">Signin</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-if="authentication.user">
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle profile" data-toggle="dropdown">
						<div class="profile-picture" user-picture user-model="authentication.user"></div>
            <span class="profile-name">{{authentication.user.displayName}} <b class="caret"></b></span>
        </a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/dashboard/">Dashboard</a>
					</li>
					<li>
						<a href="/#!/dashboard/rooms">My rooms</a>
					</li>
					<li>
						<a href="/#!/dashboard/messages">Messages</a>
					</li>
					<li>
						<a href="/#!/dashboard/profile">Edit Profile</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>

			<li ng-init="getUnreadMessageCount()"><a href="/#!/dashboard/messages" class="header-messages-icon">
				<span ng-if="unreadMessageCount != 0"class="label label-danger">{{unreadMessageCount}}</span> <i class="icon-mail-1"></i></a>
				<!-- <div class="messages-popover" ng-show="messagesPopoverVisible">
					<ul>
						<li>
							<p><strong>Frederik Vanhevel</strong></p>
							<p>Jo vriend, cava nog me u e? dfkkjz akdjakzk az</p>
						</li>
					</ul>
					<a class="view-all light-bg" href="/#!/dashboard/messages">View all my messages</a>
				</div> -->
			</li>

			<li><a href="/#!/users/{{authentication.user._id}}/favorites"><i class="icon-heart-empty-1"></i> My Favorites</a></li>

		</ul>
	</nav>
</div>