<section data-ng-controller="HomeController" ng-init="init()" class="home-view">

    <div id="hero">
        <div class="video-container" video-shuffle></div>
        <div class="raster">
            <div class="hero-content col-sm-offset-2 col-sm-8">
                <h1><span translate>Welkom bij</span> <span class="light">1roof</span></h1>
                <p class="lead">
                    <span translate>zoek op een nieuwe en makkelijke manier je toekomstige </span>
                    <span class="words">
                        <span> appartement</span>
                        <span> kot</span>
                        <span> huis</span>
                        <span> villa</span>
                        <span> kamer</span>
                        <span> garagebox</span>
                    </span>
                </p>
                <form class="form-inline" role="form" ng-submit="goToSearch()">
                    <div class="input-group input-group-lg col-sm-6">
                        <input ng-autocomplete details="search.details" options="search.autocompleteOptions" ng-model="search.input" type="text" class="center-block form-control input-lg" placeholder="{{'Waar wil je iets huren?'|translate}}">
                        <span class="input-group-btn"><button class="btn" type="submit" translate>Zoeken</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section id="who-we-are">
        <div class="container inner-top inner-bottom-sm">

            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1 translate>Snel. Simpel. Gemakkelijk.</h1>
                    <p translate>Ontdek prachtige woningen overal in België</p>
                </header>
            </div>

            <div class="inner-top-sm text-center">

                    <div class="col-sm-4 inner-bottom-xs">
                        <div class="icon">
                            <i class="icon-chat-1 icn lg"></i>
                        </div>
                        <h2 translate>Chatten</h2>
                        <p class="text-small" translate>Praat onmiddelijk met een eigenaar indien je geïnteresseerd bent</p>
                    </div>

                    <div class="col-sm-4 inner-bottom-xs">
                        <div class="icon">
                            <i class="icon-calendar-1 icn lg"></i>
                        </div>
                        <h2 translate>Afspraken</h2>
                        <p class="text-small" translate>Je kan met één klik een afspraak maken met een huisbaas</p>
                    </div>

                    <div class="col-sm-4 inner-bottom-xs">
                        <div class="icon">
                            <i class="icon-heart-1 icn lg"></i>
                        </div>
                        <h2 translate>Favorieten</h2>
                        <p class="text-small" translate>Bewaar de leukste aanbiedingen één plaats zodat je de beste er uit kan kiezen</p>
                    </div>


                    <div class="col-sm-4 inner-bottom-xs">
                        <div class="icon">
                            <i class="icon-chart-bar icn lg"></i>
                        </div>
                        <h2 translate>Statistieken</h2>
                        <p class="text-small" translate>Bekijk gedetailleerde statistieken over je advertentie</p>
                    </div>

                    <div class="col-sm-4 inner-bottom-xs">
                        <div class="icon">
                            <i class="icon-mail-1 icn lg"></i>
                        </div>
                        <h2 translate>Berichten</h2>
                        <p class="text-small" translate>Bekijk al je contacten met hurders op één plaats</p>
                    </div>

                    <div class="col-sm-4 inner-bottom-xs">
                        <div class="icon">
                            <i class="icon-location-1 icn lg"></i>
                        </div>
                        <h2 translate>Gratis</h2>
                        <p class="text-small" translate>Plaats je advertentie met slechts enkele klikken gratis online</p>
                    </div>
                </div>


        </div>
    </section>
    <section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(/modules/core/img/pattern-background01.jpg);">
        <div class="container inner">

            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1><span translate>Ontstaan uit de site</span> <a href="http://www.kotzoeker.be">kotzoeker.be</a>. <span translate>Reeds vertrouwd door meer dan 1000 huisbazen.</span></h1>
                </header>
            </div>

        </div>
    </section>
    <section id="get-started" class="tint-bg">
        <div class="container inner-sm">
            <div class="col-sm-11 center-block text-center">
                <h1 class="single-block"><span translate>Hulp nodig?</span> <a href="mailto:info@1roof.be" class="btn btn-white btn-lg" translate>Contacteer ons!</a></h1>
            </div>
        </div>
    </section>
</section>
