<section id="pricing-tables">
  <div class="container inner">
    
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <header>
          <h1>Simple pricing, no surprises</h1>
          <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
        </header>
      </div>
    </div>
    
    <div class="row pricing">
      
      <div class="col-md-4 col-sm-6 inner-top-sm">
        <div class="plan">
          
          <header>
            <h2>Persoonlijk</h2>
            
            <div class="price">
              <span class="currency">€</span>
              <span class="amount">0</span>
              <span class="period">/ Mo</span>
            </div>
            
            <a href="#" class="btn">Kies dit plan</a>
          </header>
          
          <ul class="features">
            <li><i class="icon-users"></i> <strong>24/7 ondersteuning</strong></li>
            <li><i class="icon-window"></i> 1 advertentie</li>
            <li><i class="icon-window"></i> 4 afbeeldingen</li>
            <li><i class="icon-hdd"></i> geen analytics</li>
            <li><i class="icon-switch"></i> geen widgets</li>
          </ul>
          
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 inner-top-sm">
        <div class="plan">
          
          <header>
            <h2>Professioneel</h2>
            
            <div class="price">
              <span class="currency">€</span>
              <span class="amount">9</span>
              <span class="period">/ Mo</span>
            </div>
            
            <a href="#" class="btn">Kies dit plan</a>
          </header>
          
          <ul class="features">
            <li><i class="icon-users"></i> <strong>24/7 ondersteuning</strong></li>
            <li><i class="icon-window"></i> 4 advertenties</li>
            <li><i class="icon-hdd"></i> 8 afbeeldingen per advertentie</li>
            <li><i class="icon-switch"></i> Geen analytics</li>
            <li><i class="icon-globe"></i> Aangepaste widgets</li>
          </ul>
          
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 inner-top-sm">
        <div class="plan">
          
          <header>
            <h2>Zakelijk</h2>
            
            <div class="price">
              <span class="currency">€</span>
              <span class="amount">15</span>
              <span class="period">/ Mo</span>
            </div>
            
            <a href="#" class="btn">Kies dit plan</a>
          </header>
          
          <ul class="features">
            <li><i class="icon-users"></i> <strong>24/7 ondersteuning</strong></li>
            <li><i class="icon-window"></i> Onbeperkt aantal advertenties</li>
            <li><i class="icon-hdd"></i> Onbeperkt aantal afbeeldingen</li>
            <li><i class="icon-switch"></i> Krachtige analytics</li>
            <li><i class="icon-globe"></i> Aangepaste widgets</li>
          </ul>
          
        </div>
      </div>
      
    </div>
    
  </div>
</section>
