<div class="pricing-view" data-ng-controller="PricingController" ng-init="init()">
    <section class="pricing-tables">
        <div class="container">
            <div ng-if="message == 'upgrade'">
                <div class="col-sm-offset-2 col-sm-8 inner-top-sm text-center" animate-element>
                    <header>
                        <h1>Upgraden</h1>
                        <p>Je hebt het maximum aantal advertenties die je kan plaatsen bereikt. Indien je er meerdere wil toevoegen, en wil genieten van een aantal extra voordelen zoals analytics, kies dan voor een upgrade!</p>
                    </header>
                </div>
            </div>
            <div ng-if="message == 'analytics'">
                <div class="col-sm-offset-2 col-sm-8 inner-top-sm text-center" animate-element>
                    <header>
                        <h1>Upgraden</h1>
                        <p>Om gebruik te maken van geavanceerde functies zoals analytics, heb je een upgrade nodig. Kies één van de onderstaande tariefplannen om verder te gaan.</p>
                    </header>
                </div>
            </div>
            <div class="pricing">
                <div class="col-md-4 col-sm-6 inner-sm" animate-element>
                    <div class="plan">
                        <header>
                            <h2>Student</h2>
                            <div class="price">
                                <span class="currency">€</span>
                                <span class="amount">0</span>
                                <span class="period">/ Maand</span>
                            </div>
                            <button ng-disabled="isCurrentPlan('FREE') || busy" class="btn" ng-class="{ 'btn-gray': isCurrentPlan('FREE') }" ng-click="choosePlan('FREE')">{{isCurrentPlan('FREE') ? 'Huidige plan' : 'Kies dit plan'}}</button>
                        </header>
                        <ul class="features">
                            <li><i class="icon-users"></i> <strong>24/7 ondersteuning</strong></li>
                            <li><i class="icon-window"></i> 1 advertentie</li>
                            <li><i class="icon-window"></i> 4 afbeeldingen</li>
                            <li><i class="icon-hdd"></i> geen analytics</li>
                            <li><i class="icon-switch"></i> geen widgets</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner-sm" animate-element>
                    <div class="plan">
                        <header>
                            <h2>Huisbaas</h2>
                            <div class="price">
                                <span class="currency">€</span>
                                <span class="amount">9</span>
                                <span class="period">/ Maand</span>
                            </div>
                            <button ng-disabled="isCurrentPlan('PRO') || busy" class="btn" ng-class="{ 'btn-gray': isCurrentPlan('PRO') }" ng-click="choosePlan('PRO')">{{isCurrentPlan('PRO') ? 'Huidige plan' : 'Kies dit plan'}}</button>
                        </header>
                        <ul class="features">
                            <li><i class="icon-users"></i> <strong>24/7 ondersteuning</strong></li>
                            <li><i class="icon-window"></i> 4 advertenties</li>
                            <li><i class="icon-hdd"></i> 8 afbeeldingen per advertentie</li>
                            <li><i class="icon-switch"></i> Geen analytics</li>
                            <li><i class="icon-globe"></i> Aangepaste widgets</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner-sm" animate-element>
                    <div class="plan">
                        <header>
                            <h2>Agentschap</h2>
                            <div class="price">
                                <span class="currency">€</span>
                                <span class="amount">45</span>
                                <span class="period">/ Maand</span>
                            </div>
                            <button ng-disabled="isCurrentPlan('BUSINESS') || busy" class="btn" ng-class="{ 'btn-gray': isCurrentPlan('BUSINESS') }" ng-click="choosePlan('BUSINESS')">{{isCurrentPlan('BUSINESS') ? 'Huidige plan' : 'Kies dit plan'}}</button>
                        </header>
                        <ul class="features">
                            <li><i class="icon-users"></i> <strong>24/7 ondersteuning</strong></li>
                            <li><i class="icon-window"></i> Onbeperkt aantal advertenties</li>
                            <li><i class="icon-hdd"></i> Onbeperkt aantal afbeeldingen</li>
                            <li><i class="icon-switch"></i> Krachtige analytics</li>
                            <li><i class="icon-globe"></i> Aangepaste widgets</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="get-started" class="tint-bg">
        <div class="container inner-sm">
            <div class="col-sm-11 center-block text-center" animate-element>
                <h1 class="single-block"><span translate>Hulp nodig?</span> <a href="mailto:help@apollo.be" class="btn btn-white btn-lg" translate>Contacteer ons!</a></h1>
            </div>
        </div>
    </section>
</div>
