.comingsoon-view {
	#hero {
		top: -15px;

	    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	        top: 0;
	    }

		.video-container {
			overflow: visible !important;
		}
	}
}