[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
  height: 100%;
}

.undecorated-link:hover {
  text-decoration: none;
}

header {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 3px 10px;
  background: #FFF;
  position:fixed;

  .advertise-button {
    padding: 5px 13px 6px;
  }

  .header-messages-icon {
    font-size: 19px;

    .label {
      position: relative;
      top: -10px;
      right: -10px;
      font-size: 10px;
      margin: 0;
    }
  }

  .messages-popover {
    position: absolute;
    left: 0;
    width: 300px;
    background: #FFF;
    border: 1px solid #ddd;
    border-top: transparent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    ul {
      padding: 0;
      border-bottom: 1px solid #ddd;
      margin-bottom: 21px;

      li {
        padding: 0 5px;
        cursor: pointer;

        &:hover {
          background: #F7F7F7;
        }

        p {
          margin: 0;
          font-size: 12px;
        }

        a.view-all {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }
}

.alert-container {
  position: fixed;
  width: 400px;
  right: 50px;
  top: 20px;
  z-index: 99999;
}

.content {
  min-height: 100%; 
  margin-top: 50px;
  margin-bottom: 50px;
}

section .container {
	/*margin-top: 50px;*/
}

.panel-container {
  background: #FFF;
/*  border: 1px solid #CED7E0; */
}

footer {
  background: #283645;
  width: 100%;
  position:relative;
  height: 82px;
  clear:both;
}
