html, body {
  height: 100%;
}

header {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 3px 10px;
  background: #FFF;
}

header .advertise-button {
  padding: 5px 13px 6px;
}

.alert-container {
  position: fixed;
  width: 400px;
  right: 50px;
  top: 20px;
  z-index: 99999;
}

.content {
  min-height: 100%; 
}

section .container {
	/*margin-top: 50px;*/
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.header-messages-icon {
  font-size: 19px;
}

.header-messages-icon .label {
  position: relative;
  top: -10px;
  right: -10px;
  font-size: 10px;
  margin: 0;
}

.panel-container {
  background: #FFF;
/*  border: 1px solid #CED7E0; */
}

footer {
  background: #283645;
  width: 100%;
  position:relative;
  height: 82px;
  clear:both;
}
