[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  // overflow-x: hidden;
}

.undecorated-link:hover {
  text-decoration: none;
}

.alert-container {
    position: fixed;
    right: 50px;
    top: 20px;
    z-index: 99999;
    max-width: 350px;

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      left: 20px;
      right: 20px;
    }

    .alert-item {
        box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);

        &.ng-enter, &.ng-leave {
            -webkit-animation-name: scale;
            animation-name: scale;
            -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
        }

        &.ng-leave {
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }

    }
}

.content {
  min-height: 100%;
  padding-bottom: 102px;
  padding-top: 50px;
}

.panel-container {
  background: #FFF;
  /*  border: 1px solid #CED7E0; */
}

.white-bg {
  background-color: #FFF;
}

// autocomplete should be above modal
.pac-container {
  z-index: 1051 !important;
}

.btn-white {
  background: white;
  color: #1ABB9C !important;

  &:hover {
    background: #E9E9E9 !important;
    color: #506A85 !important;
  }
}

.thumbs {
  img {
    transition: opacity .2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

@include fadeInView('[ui-view]');

