footer {
  background: #283645;
  width: 100%;
  height: 82px;
  clear:both;
  position:absolute;
  bottom:0;

  .logo {
    height: 40px;
    margin-bottom: 20px;
  }

  .links a {
    display: block;
  }

  .contacts {
    padding-left: 0;
  }

  .pad-sides {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-bottom {

    .container.inner {
      padding-top: 35px;
      padding-bottom: 25px;
    }

    .language-select {
      margin-top: -7px;
      background-color: #42505F;
      position: relative;
      padding-top: 5px;
      width: 140px;

        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-top: 15px;
        }

        img {
          margin-left: 10px;
        }

        &:before {
          top: 10px;
        }

        select {
          position: absolute;
        }

    }

    .social-buttons li {
      display: inline-block;
    }
  }
}

