header.navbar {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 3px 10px;
  background: #FFF;
  position: fixed;
  z-index: 1000;
  min-height: initial;

  &.transparent {
    color: white;
    font-weight: bold;
    background: none;
    box-shadow: none;
  }

  .navbar-brand {
    padding: 5px 15px;

    img {
      width: 120px;
    }
  }

  .btn.responsive-menu.navbar-toggle {
    padding: 7px 14px;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    .top-header {
      padding: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media all and (min-width: 1024px) {
    .top-header {
      margin-right: 30px;
      margin-left: 30px;
    }
  }

  @media (max-width: 890px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

  // .top-search {
  //   input:focus {
  //     width: 250px;
  //   }
  // }

  .profile {

    .profile-name {
      margin-left: 40px;
    }

    .profile-picture {
      float: left;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      position: absolute;
      left: 0;
      top: 6px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 10px;
    }

  }


  .advertise-button {
    padding: 5px 13px 6px;
    margin-left: 5px;
  }

  .header-messages-icon {
    font-size: 19px;

    .label {
      position: relative;
      top: -10px;
      right: -10px;
      font-size: 10px;
      margin: 0;
    }

    span.ng-enter {
        -webkit-animation-name: scale;
        animation-name: scale;
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
    }
  }

  .messages-popover {
    position: absolute;
    left: 0;
    width: 300px;
    background: #FFF;
    border: 1px solid #ddd;
    border-top: transparent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    ul {
      padding: 0;
      border-bottom: 1px solid #ddd;
      margin-bottom: 21px;

      li {
        padding: 0 5px;
        cursor: pointer;

        &:hover {
          background: #F7F7F7;
        }

        p {
          margin: 0;
          font-size: 12px;
        }

        a.view-all {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }
}
