
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 ng-if="!contactInfo.isTour" class="modal-title"><i class="icon-mail-1"></i> Send a message</h4>
    <h4 ng-if="contactInfo.isTour" class="modal-title"><i class="icon-mail-1"></i> Ask for a tour</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="contactForm" novalidate>
    <div ng-hide="contactInfo.isTour" class="form-group">
      <label class="control-label col-sm-3" for="message">Message</label>
      <div class="col-sm-9">
          <textarea data-ng-model="message" id="message" placeholder="What's your question?">
            I would like to schedule a tour of this room.
          </textarea>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }" ng-show="!authentication.user">
      <label class="control-label col-sm-3" for="name">Name</label>
      <div class="col-sm-9">
        <input data-ng-model="contactInfo.name" name="name" type="text" placeholder="First and last name" required>
        <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">You name is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }" ng-show="!authentication.user">
      <label class="control-label col-sm-3" for="email">Email address</label>
      <div class="col-sm-9">
        <input data-ng-model="contactInfo.email" name="email" type="email" placeholder="example@domain.com" required>
        <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button ng-if="!contactInfo.isTour" class="btn" ng-click="ok()" ng-disabled="contactForm.$invalid">Send message</button>
        <button ng-if="contactInfo.isTour" class="btn" ng-click="ok()" ng-disabled="contactForm.$invalid">Ask for tour</button>
      </div>
    </div>
  </form>
</div>

<!-- <div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">&times;</button>
  <h4>Hey, it seems like you are not logged in!</h4>
</div>
<div class="modal-body">
  
  <h4>Do you want to make an account? You'll get alot of benefits, such as: </h4>
  <ul class="arrowed">
    <li>Get an overview of all your messages</li>
    <li>See which rooms you already have an oppointment for</li>
    <li>Share a list of your favorites with friends</li>
    <li>... Profit?</li>
  </ul>

  <p>
    <a class="btn" href="/#!/signin">Let's do this!</a>
    <a class="btn-lg btn-link" href="/#!/signin">no thanks</a>
  </p>
</div> -->