
<div class="modal-header">
  <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title"><i class="icon-mail-1"></i> Send a message</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="messageForm" novalidate>

    <div class="form-group">
      <label class="control-label col-sm-3" for="message">Message</label>
      <div class="col-sm-9">
          <textarea data-ng-model="message" id="message" placeholder="What's your question?" required>
            I would like to schedule a tour of this room.
          </textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn" ng-click="$close(message)" ng-disabled="messageForm.$invalid">Send message</button>
      </div>
    </div>
  </form>
</div>

<!-- <div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">&times;</button>
  <h4>Hey, it seems like you are not logged in!</h4>
</div>
<div class="modal-body">
  
  <h4>Do you want to make an account? You'll get alot of benefits, such as: </h4>
  <ul class="arrowed">
    <li>Get an overview of all your messages</li>
    <li>See which rooms you already have an oppointment for</li>
    <li>Share a list of your favorites with friends</li>
    <li>... Profit?</li>
  </ul>

  <p>
    <a class="btn" href="/#!/signin">Let's do this!</a>
    <a class="btn-lg btn-link" href="/#!/signin">no thanks</a>
  </p>
</div> -->