
<div class="modal-header">
  <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title"><i class="icon-calendar-1"></i> Schedule an appointment</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="messageForm" novalidate>

    <h4 class="text-center">Scheduling an appointment for {{ contactInfo.appointmentDate | amDateFormat: 'DD/MM/YYYY' }}</h4>

    <div class="form-group">
      <label class="control-label col-sm-3" for="message">Any questions?</label>
      <div class="col-sm-9">
          <textarea data-ng-model="message" id="message" placeholder="What's your question?" required>
            I would like to schedule a tour of this room.
          </textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn" ng-click="$close(message)" ng-disabled="messageForm.$invalid">Send message</button>
      </div>
    </div>
  </form>
</div>
