.search-view {

  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 280px;

    overflow-x: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    background: #f7f7f7;
    box-shadow: 10px 0px 10px -10px #aaaaaa;
    z-index: 5;

    padding: 10px;

    .btn.minimal {
      font-weight: initial;
      padding: 5px 10px;
    }
    .input.minimal {
      border: none;
      border-bottom: 1px dotted #222;
      width: 58px;
      padding: 2px;
      letter-spacing: -0.1px;
      font-size: 14px;
      text-align: center;
      background: none transparent;
      font-style: italic;
    }

    .search-results {

      ul.results-list {
        padding: 0;

        li.search-result {
          padding: 6px 6px;
          background: #FFF;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          cursor: pointer;
        }
      }
      
    }

  }

  .map, .room-overlay {
    position: fixed;
    top: 50px;
    left: 280px;
    right: 0;
    bottom: 0;
  }

  .map {
    
    .map-canvas {
      height: 100%;
    }

    .marker {
      padding: 0;
      margin: 0;
      -webkit-transition: height .6s ease;
      transition: height .6s ease;
      max-height: 400px;
      overflow-x: hidden;
      color: #fff;
      background-size: cover;
      background-position: 25%;
      min-height: 149px;
      cursor: pointer;
      position: relative;
      font-weight: bold;

      .col-xs-12 {
        padding: 4px;
        background-image: url('/modules/search/img/gradient-overlay.png');
        min-height: 149px;

        h1 {
          font-weight: 700;
          font-size: 20px;
          color: white;
        }

        .bottom-right {
          position: absolute;
          right: 6px;
          bottom: 2px;
          font-size: 16px;
        }
      }
    }

    .leaflet-popup-content {
      overflow: hidden!important;
      padding:4px;
    }
    .leaflet-container h1 a {
      color:#fff;
    }
    .leaflet-container h1 a:hover {
      color:#fff;
    }

  }

  .room-overlay {

    background: rgba(255, 255, 255, 0.8);
    overflow: auto;

    &.ng-enter, &.ng-leave {
      transition: opacity .2s;
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1
    }
    &.ng-leave-active {
      opacity: 0
    }

    .view-room {

      .room-owner-panel {
        position: relative;
      }

      .inner {
        margin: 20px;
      }
    }

  }

}