<section class="create-room" data-ng-controller="CreateRoomController" ng-init="init()">
    <div ng-if="allowed">
        <div class="img-bg" style="background-image: url(/modules/rooms/img/create_bg.jpg);">
            <div class="container">
                <div class="room-creation-steps">
                    <div class="col-sm-4">
                        <div class="room-step" ng-class="{ active: creationStep == 1 }">
                            <i ng-hide="creationStep > 1" class="icon-user-add"></i>
                            <i ng-show="creationStep > 1" class="icon-check green"></i>
                            <h3 translate>Stap 1: meld je aan</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="room-step" ng-class="{ active: creationStep == 2 }">
                            <i ng-hide="creationStep > 2"  class="icon-home"></i>
                            <i ng-show="creationStep > 2" class="icon-check green"></i>
                            <h3 translate>Stap 2: maak een advertentie</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="room-step" ng-class="{ active: creationStep == 3 }">
                            <i class="icon-pencil-1"></i>
                            <h3 translate>Stap 3: pas ze aan</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="light-bg container">
            <div class="creationStep-content col-sm-offset-2 col-sm-7">
                <div ng-if="creationStep == 1" class="text-center">
                    <p class="lead" translate>Om verder te gaan moet je je registreren of inloggen met een bestaande account</p>
                    <p>
                        <button ng-click="openSingupModal()" class="btn" translate>Maak een account aan</button>
                        <button ng-click="openSinginModal()" class="btn btn-blue" translate>Ik heb al een account</button>
                    </p>
                </div>
                <div ng-if="creationStep == 2">
                    <form class="form-horizontal" name="createRoomForm" role="form" ng-submit="create()">
                        <div class="form-group" ng-class="{ 'has-error' : createRoomForm.address.$invalid && !createRoomForm.address.$pristine || createRoomForm.$error.noStreet || createRoomForm.$error.noStreetNumber}">
                            <label class="control-label col-sm-3" for="address" translate>Adres</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="createForm.address" name="address" class="form-control" placeholder="{{'Geef het adres in'|translate}}" data-options="autocompleteOptions" details="autoCompleteDetails"  ng-autocomplete check-address required>
                                <p ng-show="createRoomForm.$error.noStreet && !createRoomForm.address.$pristine" class="help-block" translate>Je moet een straat intypen</p>
                                <p ng-show="createRoomForm.$error.noStreetNumber && !createRoomForm.address.$pristine" class="help-block" translate>Je moet een huisnummer ingeven</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label" translate>Type ruimte</label>
                            <div class="col-sm-9">
                                <div class="btn-group type-buttons" ng-model="createForm.roomType" radio-group>
                                    <button type="button" class="btn minimal" data-val="house"><div class="maki-icon building"></div> <span translate>Volledig huis</span></button>
                                    <button type="button" class="btn minimal" data-val="appartment"><div class="maki-icon commercial"></div> <span translate>Appartement</span></button>
                                    <button type="button" class="btn minimal" data-val="room"><div class="maki-icon lodging"></div> <span translate>Kamer</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button ng-class="{ disabled: busy || createRoomForm.$invalid || !createForm.roomType }" type="submit" class="btn btn-blue"><span translate>Ga verder</span> <i class="icon-right-1"></i></button>
                                <img ng-show="busy" alt="loading icon" class="spinner" src="/modules/core/img/loaders/loading.svg">
                            </div>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong>{{error}}</strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
