<section data-ng-controller="ManageRoomController" data-ng-init="init()" class="edit-room">


  <div class="room-owner-panel dark-bg">
    <div class="container">
      <span class="pull-right">
        <a href="/#!/rooms/{{room._id}}">view how this room will look for the users <i class="icon-right-open"></i></a>
      </span>
      <span ng-if="room.visible"><i class="icon-record online-icon"></i> online</span>
      <span ng-if="!room.visible"><i class="icon-record offline-icon"></i> offline</span>
      <span ng-if="errors.length > 0" class="red"><i class="icon-attention-1 red"></i> You need to fill in some more details before you can publish the room.</span>
    </div>
  </div>

  <div class="edit-details container">

    <div class="col-md-3">
      <ul class="sidenav">
        <li ng-class="{ active: nav == 'general'}">
          <a ng-click="setTab('general')" href="">
            <i ng-if="tabHasError('general')" class="icon-attention-1 red"></i> 
            General
          </a>
        </li>
        <li ng-class="{ active: nav == 'availability'}">
          <a ng-click="setTab('availability')" href="">
            <i ng-if="tabHasError('availability')" class="icon-attention-1 red"></i> 
            Availability
          </a>
        </li>
        <li ng-class="{ active: nav == 'costs'}">
          <a ng-click="setTab('costs')" href="">
            <i ng-if="tabHasError('costs')" class="icon-attention-1 red"></i> 
            Costs
          </a>
        </li>
        <li ng-class="{ active: nav == 'address'}">
          <a ng-click="setTab('address')" href="">
            Address
          </a>
        </li>
        <li ng-class="{ active: nav == 'amenities'}">
          <a ng-click="setTab('amenities')" href="">
            Amenities
          </a>
        </li>
        <li ng-class="{ active: nav == 'pictures'}">
          <a ng-click="setTab('pictures')" href="">
            Pictures
          </a>
        </li>
        <li ng-if="!room.visible" ng-class="{ active: nav == 'pictures'}">
          <button class="btn btn-blue btn-block" ng-disabled="errors.length > 0" ng-click="setRoomVisible()" disabled>
            <i class="glyphicon glyphicon-ok"></i> Publish
          </button>
        </li>
      </ul>
    </div>

    <div class="col-md-6" ng-switch on="nav">
        <div ng-switch-when="general" class="bordered">
          <div class="panel-heading">
            <img ng-show="busy" class="spinner pull-right" src="/modules/core/img/loaders/loading.svg">
            <h3 class="panel-title">Basic information about the room</h3>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <small class="pull-right" ng-bind="(50 - room.info.title.length) + ' characters left'"></small>
                <label class="control-label">Title</label>
                <input ng-model="room.info.title" maxlength="50" limit-text="50" type="text" class="form-control"  placeholder="Title">
              </div>
              <div class="form-group">
                <small class="pull-right" ng-bind="(200 - room.info.description.length) + ' characters left'"></small>
                <label class="control-label">Description</label>
                <textarea ng-model="room.info.description" maxlength="200" limit-text="200" type="text"  placeholder="Description"></textarea>
              </div>
            </form>
            <hr>
            <div class="text-center">
                <a href="" ng-click="remove()" class="text-danger">Verwijder deze kamer</a>
            </div>
          </div>
        </div>

        <div ng-switch-when="availability" class="bordered availability">
          <div class="panel-heading">
            <img ng-show="busy" class="spinner pull-right" src="/modules/core/img/loaders/loading.svg">
            <h3 class="panel-title">When will this room be available</h3>
          </div>
          <div class="panel-body">
            <form class="form-inline row" role="form">
              <h4 class="col-sm-1">from</h4>
              <div class="form-group col-sm-5">
                <input type="text" class="form-control"  placeholder="dd/mm/jjjj" value="{{ room.available.from | amDateFormat: 'DD/MM/YYYY' }}" date-model="room.available.from" start-date="{{room.available.from}}" date-picker>
              </div>
              <h4 class="col-sm-1">till</h4>
              <div class="form-group col-sm-5">
                <input type="text" class="form-control" placeholder="dd/mm/jjjj" value="{{ room.available.till | amDateFormat: 'DD/MM/YYYY' }}" date-model="room.available.till" start-date="{{room.available.till}}" min-date="room.available.from" date-picker>
              </div>
              <!-- <p><small class="red"><i class="icon-attention-1"></i> {{errorMessage}}</small></p> -->
             <!-- <button type="submit" class="btn btn-blue btn-block">Save</button> -->
            </form>
          </div>
        </div>

        <div ng-switch-when="costs" class="bordered">
          <div class="panel-heading">
            <img ng-show="busy" class="spinner pull-right" src="/modules/core/img/loaders/loading.svg">
            <h3 class="panel-title">Costs</h3>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label class="control-label">Period</label>
                <select ng-model="room.price.period" >
                  <option value="month">Monthly</option>
                  <option value="quarter">Quarterly</option>
                  <option value="year">Yearly</option>
                </select>
              </div>

              <div class="form-group">
                <label class="control-label">Base price</label>
                <input ng-model="room.price.base" type="number" min="0" class="form-control"  placeholder="dd//mm/jjjj">
              </div>
              
              <div class="form-group">
                <label class="control-label">Gas, electricity and water (optional)</label>
                <input ng-model="room.price.egw" type="number" min="0" class="form-control"  placeholder="Extra costs">
              </div>
              <div class="form-group">
                <label class="control-label">Cleaning (optional)</label>
                <input ng-model="room.price.cleaning" type="number" min="0" class="form-control"  placeholder="Cleaning">
              </div>
            </form>
          </div>
        </div>

        <div ng-switch-when="address" class="bordered">
          <div class="panel-heading">
            <img ng-show="busy" class="spinner pull-right" src="/modules/core/img/loaders/loading.svg">
            <h3 class="panel-title">Specify the address of this room</h3>
          </div>
          <div class="panel-body">
            <h5><i class="icon-location"></i> {{room.location.street}} <small>{{room.location.city}}</small></h5>

            <div room-map class="map-canvas"></div>

            <button class="btn btn-blue btn-block" ng-click="openAddressModal()"><i class="icon-location-1"></i> Change address</button>

          </div>
        </div>

        <div ng-switch-when="amenities" class="bordered">
          <div class="panel-heading">
            <img ng-show="busy" class="spinner pull-right" src="/modules/core/img/loaders/loading.svg">
            <h3 class="panel-title">Available amenities</h3>
          </div>
          <div class="panel-body">
            <ul class="amenities">
            <li class="checkbox" ng-repeat="amenity in amenities">
              <label>
                 <input
                    type="checkbox"
                    name="{{amenity.value}}"
                    value="{{amenity.value}}"
                    ng-checked="isAmenityChecked(amenity.value)"
                    ng-click="toggleAmenitySelection(amenity.value)"
                  > {{amenity.name}}
              </label>
            </li>
            </ul>
          </div>
        </div>

        <div ng-switch-when="pictures" class="bordered">
          <div class="panel-heading">
            <img ng-show="busy" class="spinner pull-right" src="/modules/core/img/loaders/loading.svg">
            <h3 class="panel-title">Add pictures</h3>
            <small>Maximum 8 pictures per room</small>
          </div>
          <div class="panel-body">
            <div class="pictures-header">
              <h5 class="pull-right"><small>{{room.pictures.length}} images</small></h5>
              <button class="btn-upload btn btn-blue btn-sm" ng-file-select="onImageSelect($files)" accept="image/*" ng-disabled="busy">
                <i class="icon-upload-cloud"></i> Upload an image
              </button>
              <button class="dropbox-button btn btn-sm" dropbox-chooser chooser-function="onDropboxSelect"><i class="icon-dropbox"></i> Choose from Dropbox</button>
            </div>
            <div class="pictures" ng-hide="room.pictures.length == 0">
              <div class="picture col-sm-6" ng-repeat="picture in room.pictures">
                <div class="image" back-img img-provider="{{picture.provider}}" img-link="{{picture.link}}"></div>
                <button class="remove-button btn btn-red" ng-click="removeImage($index)"><i class="icon-trash-1"></i></button>
              </div>
              
            </div>
            
          </div>
        </div>

    </div>

    <div class="info col-sm-3">

    </div>
  </div>
</section>