<section data-ng-controller="RoomsController" data-ng-init="getMyRooms()">
    
    <div class="page-header">
        <h1>Rooms</h1>
    </div>

    <div class="col-sm-offset-2 col-sm-8">
        <span class="pull-right">Frederik</span> 
        <ul class="nav nav-tabs">
          <li><a href="#">My rooms</a></li>
          <li class="active"><a href="#">Messages</a></li>
          <li><a href="#">My account</a></li>
        </ul>
        
        <div class="list-group">
          <a href="#" class="list-group-item row">
            <div class="col-sm-1">
                <small>Ma 32 juni</small>
            </div>
            <div class="col-sm-11">
                <button class="btn btn-xs btn-default pull-right">Reply <i class="glyphicon glyphicon-share-alt"></i></button>
                <h4 class="list-group-item-heading">Hey ik heb je kot hier gezien en vroeg mij af...</h4>
                <p class="list-group-item-text">Jan Peeters</p>

            </div>
          </a>
        </div>
    </div>

</section>