<section data-ng-controller="RoomsController" data-ng-init="init()" class="view-room">
    <div ng-if="!isOverlay() && room.user._id && room.user._id == authentication.user._id" class="room-owner-panel dark-bg" ng-cloak>
        <div class="container">
            <span class="pull-right">
            <a href="/rooms/{{room._id}}/edit/"><i class="icon-pencil"></i> <span translate>Advertentie aanpassen</span> <i class="icon-right-open"></i></a>
            </span>
            <div class="visibility-switch">
                <input id="switch-button" class="switch switch-round" type="checkbox" ng-model="room.visible" ng-disabled="!room.isInOrder" ng-change="setVisibility()">
                <label for="switch-button"></label>
            </div>
            <span ng-if="room.visible && room.isInOrder" class="green pull-left">online</span>
            <span ng-if="!room.isInOrder" class="red"><i class="icon-attention-1 red"></i> offline - <span translate>Je moet meer details ingeven</span></span>
            <span ng-if="!room.visible && room.isInOrder">offline</span>
        </div>
    </div>
    <div class="inner-content" ng-class="{ 'container': !isOverlay() }">

        <div class="offline-overlay modal fade in" ng-class="{ 'visible': !room.visible && room.user._id != authentication.user._id }">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <i class="top-icon icon-cloud-thunder"></i>

                        <h2 translate>Sorry, deze advertentie is momenteel offline gehaald door de eigenaar. Dit kan betekenen dat deze al verhuurd is.</h2>
                        <h6 translate>Hier zijn alvast enkele vergelijkbare advertenties die we gevonden hebben voor jou:</h6>

                        <div class="row thumbs gap-xs">

                            <div class="col-xs-6 thumb" ng-repeat="room in similarRooms | limitTo: 2">
                                <figure class="icon-overlay icn-link">
                                    <a href="{{room.url}}"><span class="icn-more"></span><img ng-src="{{getImageLink(room.pictures[0])}}" alt="Foto van {{getClasification(room)}} in {{room.location.city}}" width="200" height="200" title="{{room.info.title}}"></a>
                                </figure>
                            </div>

                        </div>

                        <a href="/" translate>Ga naar de homepagina</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="page-header row">
            <div class="crumbs col-sm-12" itemscope itemtype="http://schema.org/Place">
                <button class="btn btn-gray pull-right" ng-click="closeOverlay()" ng-if="isOverlay()"><i class="icon-globe-1"></i> <span translate>Terug naar kaart</span></button>
                <h1 itemprop="name">
                <i class="favorite-icon" ng-class="{ 'icon-heart-empty-1': !isInfavorites(), 'icon-heart-1 bounce red': isInfavorites() }" tooltip="{{ isInfavorites() ? 'Verwijderen van wishlist' : 'Toevoegen aan wishlist' }}" tooltip-placement="right" ng-click="toggleFavorite()"></i> {{::room.info.title != '' ? room.info.title : room.location.street }}
                </h1>
                <span class="text-muted pull-right" translate>Laatst bijgewerkt {{room.updated | amDateFormat:'ll'}}</span>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a ng-href="/search/{{room.location.city}}" itemprop="addressLocality">{{::room.location.city}}</a> <i class="icon-right-open"></i> <span itemprop="streetAddress">{{::room.location.street}}</span> <i class="icon-right-open"></i> <strong>{{getClasification(room) | translate}}</strong>
                </div>

            </div>
        </div>
        <div class="leftcolumn col-lg-8">
            <div class="panel panel-default">
                <div class="room-image">
                    <div class="owl-carousel owl-inner-nav owl-ui-md" owl-carousel owl-pagination="true">
                        <div class="item" ng-repeat="picture in room.pictures" on-repeat-done="pictures_rendered">
                            <figure back-img img-provider="{{picture.provider}}" img-link="{{picture.link}}">
                                <noscript>
                                    <img back-img img-provider="{{picture.provider}}" img-link="{{picture.link}}" is-img="true" alt="Foto {{room.classification}} {{$index}}" src="" />
                                </noscript>
                            </figure>
                        </div>
                        <div class="item room-map">
                            <div room-map class="map-canvas"></div>
                        </div>
                        <div class="item">
                            <div street-view class="streetView"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="room.info.description != ''" class="panel panel-default">
                <div class="panel-body">
                    <h6 translate>Beschrijving</h6>
                    <p class="room-description">{{::room.info.description}}</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="room-header row">
                        <div class="col-sm-3" ng-if="room.surface != 0">
                            <h6 translate>Oppervlakte</h6>
                            <h2>{{ ::room.surface | number}} <span class="small text-muted">m²</span></h2>
                        </div>
                        <div class="col-sm-5">
                            <h6 translate>Contract</h6>
                            <h2 ng-if="room.leaseType == 'lease'" translate>huurcontract</h2>
                            <h2 ng-if="room.leaseType == 'sublease'" translate>onderverhuring</h2>
                        </div>
                        <div class="col-sm-4" itemscope itemtype="http://schema.org/Offer">
                            <span itemprop="priceCurrency" content="EUR" />
                            <h6><span translate>Kosten</span> <small>{{getCostPeriod(room.price.period) | translate}}</small></h6>
                            <table class="room-costs" ng-class="{ 'collapsed': !showCostsDetails }">
                                <tr>
                                    <td></td>
                                    <td translate>(basis)</td>
                                    <td><h4><span class="small text-muted">€ </span> {{ room.price.base | number}}</h4></td>
                                </tr>
                                <tr>
                                    <td>+ </td>
                                    <td>(E.G.W. <i class="icon-info-circled" tooltip="{{'Elektriciteit, Gas en Water'|translate}}"></i>)</td>
                                    <td><h4><span class="small text-muted">€ </span> {{ room.price.egw | number}}</h4></td>
                                </tr>
                                <tr>
                                    <td>+ </td>
                                    <td translate>(schoonmaak)</td>
                                    <td><h4><span class="small text-muted">€ </span> {{ room.price.cleaning | number}}</h4></td>
                                </tr>
                                <tr class="divider">
                                    <td colspan="3"></td>
                                </tr>
                                <tr class="total">
                                    <td>= </td>
                                    <td></td>
                                    <td><h2><span class="small text-muted">€ </span> <span temprop="price" content="{{ room.price.total | number}}">{{ room.price.total | number}}</span> <a href="#" class="info-button" ng-click="showCostsDetails = true" tooltip="{{'Meer details'|translate}}" tooltip-placement="right"><i class="icon-info-circle"></i></a></h2></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="room-header row" ng-if="room.cohabit.active">
                        <div class="col-xs-12">
                            <h6 translate>Samenwonen</h6>
                            <span translate>Je zal samenzitten met <strong>{{room.cohabit.count}}</strong> andere(n) in dit pand.</span>
                        </div>
                    </div>
                    <div class="room-header row">
                        <div class="room-properties col-xs-12 col-sm-5">
                            <ul>
                                <li>
                                    <i class="icon-calendar-1"></i>
                                    <span ng-if="room.available.immediately"><strong translate>Onmiddelijk beschikbaar!</strong></span>
                                    <span ng-if="!room.available.immediately"><span translate>Beschikbaar van</span> <strong>{{ room.available.from | amDateFormat: 'ddd D MMM YYYY'}}</strong></span>
                                    <span ng-if="!room.available.immediately" ng-show="room.available.till"><span translate>tot</span> <strong>{{ room.available.till | amDateFormat: 'ddd D MMM YYYY'}}</strong></span>
                                </li>
                                <li><i class="icon-clock"></i> <span translate>Bijgewerkt</span> <span am-time-ago="room.updated"></span></li>
                            </ul>
                        </div>
                        <div class="room-extras col-xs-12 col-sm-7">
                            <ul class="amenities">
                                <li ng-class="isAmenityChecked(room, amenity) ? 'checked' : 'crossed'" ng-repeat="amenity in ::amenities">{{::amenity.name | translate}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-bottom text-center">
                <h3 translate>Klaar om contact op te nemen met de eigenaar?</h3>
                <button ng-click="openContactModal()" class="btn"><i class="icon-ok"></i> <span translate>Stuur een bericht</span></button>
            </div>
            <div ng-if="otherRooms.length > 0">
                <h4 translate>{{::otherRooms.length}} andere ruimte(n) in deze woning</h4>
                <div class="panel panel-default" ng-cloak ng-repeat="otherRoom in ::otherRooms">
                    <div class="panel-body">
                        <div class="room-header row">
                            <div class="col-xs-6 col-md-3">
                                <h6 translate>Oppervlakte</h6>
                                <h2>{{ ::otherRoom.surface | number}} <span class="small text-muted">m²</span></h2>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <h6 translate>Contract</h6>
                                <h2 ng-if="room.leaseType == 'lease'" translate>huurcontract</h2>
                                <h2 ng-if="room.leaseType == 'sublease'" translate>onderverhuring</h2>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <h6><span translate>Kosten</span> <small>{{getCostPeriod(otherRoom.price.period) | translate}}</small></h6>
                                <h2><span class="small text-muted">€</span> {{ otherRoom.price.total | number}}</h2>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a ng-href="{{otherRoom.url}}" class="btn" translate>Bekijk deze ruimte</a>
                            </div>
                        </div>
                        <div class="room-header row">
                            <div class="room-properties col-xs-12 col-sm-5">
                                <ul>
                                    <li>
                                        <i class="icon-calendar-1"></i>
                                        <span ng-if="otherRoom.available.immediately"><strong translate>Onmiddelijk beschikbaar!</strong></span>
                                        <span ng-if="!otherRoom.available.immediately"><span translate>Beschikbaar van</span> <strong>{{ otherRoom.available.from | amDateFormat: 'ddd D MMM YYYY'}}</strong></span>
                                        <span ng-if="!otherRoom.available.immediately" ng-show="otherRoom.available.till"><span translate>tot</span> <strong>{{ otherRoom.available.till | amDateFormat: 'ddd D MMM YYYY'}}</strong></span>
                                    </li>
                                    <li><i class="icon-clock"></i> <span translate>Bijgewerkt</span> <span am-time-ago="otherRoom.updated"></span></li>
                                </ul>
                            </div>
                            <div class="room-extras col-xs-12 col-sm-7">
                                <ul class="amenities">
                                    <li ng-class="isAmenityChecked(otherRoom, amenity) ? 'checked' : 'crossed'" ng-repeat="amenity in ::amenities">{{::amenity.name | translate}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightcolumn col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="datepicker" date-picker append-element date-model="appointmentDate"></div>
                    <button ng-click="openReservationModal()" class="btn btn-blue btn-block"><i class="icon-calendar-1"></i> <span translate>Afspraak maken</span></button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <h5 translate>Vragen over deze ruimte?</h5>
                        <p><span translate>Contactpersoon</span>: <strong>{{::room.user.firstName}}</strong></p>
                        <button ng-click="openContactModal()" class="btn btn-block"><i class="icon-mail-1"></i> <span translate>Bericht versturen</span></button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default" ng-if="similarRooms.length > 0">
                <div class="panel-body">
                    <h5 translate>Vergelijkbare advertenties</h5>
                    <div class="row thumbs gap-xs">

                        <div class="col-xs-6 thumb" ng-repeat="room in similarRooms">
                            <figure class="icon-overlay icn-link">
                                <a href="{{room.url}}"><span class="icn-more"></span><img ng-src="{{getImageLink(room.pictures[0])}}" alt="Foto van {{getClasification(room)}} in {{room.location.city}}" width="200" height="200" title="{{room.info.title}}"></a>
                            </figure>
                        </div>

                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="mailto:abuse@1roof.be?subject=Misbruik&body=Advertentie nummer: {{::room._id}}"><i class="icon-flag"></i> <span translate>Misbruik melden</span></a>
            </div>

        </div>

    </div>

</section>
