<section data-ng-controller="RoomsController" data-ng-init="findOne()" class="viewRoom">

	<div ng-if="room.user._id == authentication.user._id" class="room-owner-panel dark-bg">
		<div class="container">
			<span class="pull-right">
				<a href="/#!/rooms/{{room._id}}/edit/">edit this room <i class="icon-right-open"></i></a>
			</span>
			<span ng-if="room.visible"><i class="icon-record online-icon"></i> online</span>
      <span ng-if="!room.visible"><i class="icon-record offline-icon"></i> offline - you need to <a href="/#!/rooms/{{room._id}}/edit/">add some more details</a></span>
		</div>
	</div>

	<div class="container">
		<div class="page-header row">

			<div class="crumbs col-sm-12">
				<h1><i class="favorite-icon icon-heart-empty-1" tooltip="Add to favorites"></i> {{room.info.title}}</h1>
				<i class="glyphicon" ng-class=""></i>
				<a ng-href="#!/s/{{room.location.city}}--{{room.location.country}}">{{room.location.city}}</a> > {{room.location.street}} > <strong>{{room.classification}}</strong>
				<span class="text-muted pull-right">Last updated {{room.updated | date:'mediumDate'}}</span>
			</div>
		</div>

		<div class="row">
			<div class="leftcolumn col-sm-8">

				<div class="panel panel-default">
					
	        <div class="room-image">

	          <div class="owl-carousel owl-inner-nav owl-ui-md" owl-carousel owl-pagination="true">
	            <div class="item" ng-repeat="picture in room.pictures" on-repeat-done="pictures_rendered">
	              <figure style="background-image: url(http://res.cloudinary.com/dv8yfamzc/image/upload/{{picture}}.png);"></figure>
	            </div>
	            <div class="item room-map">
						    <div room-map map-center="mapCenter" class="map-canvas"></div>
						  </div>
						  <div class="item">
						  	<div street-view map-center="mapCenter" class="streetView"></div>
						  </div>
	          </div>

	        </div>	

				</div>

				<div ng-if="room.info.description != ''" class="panel panel-default">
					<div class="panel-body">
						<h6>Description</h6>
						<p>{{room.info.description}}</p>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="room-header row">
							<div class="col-sm-4">
								<h6>Size</h6>
	              <h2>{{room.surface}} <span class="small text-muted">m²</span></h2>
		          </div>
		          <div class="col-sm-4">
		          	<h6>Costs <small>per {{room.price.period}}</small></h6>

		            <table class="room-costs">
		            	<tr>
		            		<td></td>
		            		<td></td>
		            		<td><h4><span class="small text-muted">€ </span> {{room.price.base}}</h4></td>
		            		
		            	</tr>
		            	<tr ng-show="room.price.egw != 0">
		            		<td>+ </td>
		            		<td>(E.G.W. <i class="icon-info-circled" tooltip="Electricity, Gas and Water"></i>)</td>
		            		<td><h4><span class="small text-muted">€ </span> {{room.price.egw}}</h4></td>
		            	</tr>
		            	<tr ng-show="room.price.cleaning != 0">
		            		<td>+ </td>
		            		<td>(cleaning)</td>
		            		<td><h4><span class="small text-muted">€ </span> {{room.price.cleaning}}</h4></td>
		            	</tr>
		            	<tr class="divider">
		            		<td colspan="3"></td>
		            	</tr>
		            	<tr class="total">
		            		<td>= </td>
		            		<td></td>
		            		<td><h2><span class="small text-muted">€ </span> {{room.price.total}}</h2></td>
		            	</tr>
		            </table>
		          </div>
		          <div class="col-sm-4">
		          	<h6>Lease type</h6>
		              {{room.leaseType}
		          </div>
		        </div>
						
						<div class="room-info row">
							<div class="room-properties col-xs-6">
								<ul>
									<li>
										<i class="glyphicon glyphicon-calendar"></i>
										<span>Available from {{room.available.from | amDateFormat: 'ddd D MMM'}}</span>
										<span ng-show="room.available.till">till {{room.available.till | amDateFormat: 'ddd D MMM'}}</span>
									</li>
									<li><i class="glyphicon glyphicon-time"></i> Updated <span am-time-ago="room.updated"></span></li>
								</ul>
							</div>
							<div class="room-extras col-xs-6">
								<ul class="amenities">
									<li ng-class="isAmenityChecked(amenity) ? 'checked' : 'crossed'" ng-repeat="amenity in amenities">{{amenity.name}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="contact text-center">
					<h3>Are you ready to see this room?</h3>
					<button ng-click="openContactModal()" class="btn"><i class="glyphicon glyphicon-ok"></i> Contact</button>
				</div>

				<div ng-hide="otherRooms.length == 0">
					<h4>{{otherRooms.length}} other rooms in this house</h4>
					<div class="panel panel-default" ng-cloak ng-repeat="otherRoom in otherRooms">
						<div class="panel-body">
							<div class="room-header row">
								<div class="col-xs-6 col-md-3">
			              {{otherRoom.surface}}
			              <span class="small text-muted">sqft</span>
			          </div>
			          <div class="col-xs-6 col-md-3">
			          		<span class="small text-muted">€</span>
			              {{otherRoom.price.total}}
			          </div>
			          <div class="col-xs-6 col-md-3">
		              	{{otherRoom.leaseType}}
		          	</div>
			          <div class="col-xs-6 col-md-3">
			          		<a ng-href="#!/rooms/{{otherRoom._id}}" class="btn btn-xs">View this room</a>
			          </div>
			        </div>
							<hr>
							<div class="room-info row">
								<div class="room-properties col-xs-6">
									<ul>
										<li><i class="glyphicon glyphicon-calendar"></i> <span>Available from {{otherRoom.available.from | amDateFormat: 'ddd D MMM'}}</span></li>
										<li><i class="glyphicon glyphicon-time"></i> Updated <span am-time-ago="otherRoom.updated"></span></li>
									</ul>
								</div>
								<div class="room-extras col-xs-6">
									<span></i> Plenty of light</span>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		

			<div class="rightcolumn col-sm-4">
				<div class="panel panel-default">
				  <div class="panel-body">
						<form role="form" name"contactForm" ng-submit="sendMessage()" novalidate>
						  <div class="form-group">
						    <input type="text" class="form-control" data-ng-model="contact.name" id="name" placeholder="Name">
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" data-ng-model="contact.email" id="email" placeholder="email@domain.com">
						  </div>
						  <button type="submit" class="btn btn-block"><i class="glyphicon glyphicon-ok"></i> Tour it</button>
						</form>
				  </div>
				</div>

				<div class="panel panel-default">
				  <div class="panel-body">
						<form role="form">
						  <h5>Questions about this room?</h5>
						  {{room.user.name}}
						  <button ng-click="openContactModal()" class="btn btn-block"><i class="glyphicon glyphicon-envelope"></i> Contact</button>
						</form>
				  </div>
				</div>
		  </div>

		</div>
	</div>
</section>