<section data-ng-controller="SearchController" class="search-view" ng-init="init()">

  <div class="sidebar">


    <div class="filters bordered">
      <h6 class="title">Zoekopdracht verfijnen</h6>

      <div class="filter type-filter">
        <div class="btn-group" ng-model="filter.roomType" output-function="setRoomType" radio-group>
          <button type="button" class="btn minimal" data-val="house"><div class="maki-icon building"></div> Huis</button>
          <button type="button" class="btn minimal" data-val="appartment"><div class="maki-icon commercial"></div> App.</button>
          <button type="button" class="btn minimal" data-val="room"><div class="maki-icon lodging"></div> Kamer</button>
          <button type="button" class="btn minimal active" data-val="all">Alle</button>
        </div>
      </div>

      <div class="filter">
        <div class="slider-label"><h6>€ {{filter.minPrice}} - € {{filter.maxPrice}} <small>per maand</small></h6></div>
        <div class="slider" range-slider ng-from="filter.minPrice" ng-to="filter.maxPrice" start="0" end="1200" step="50"></div>
      </div>

      <div class="filter">
        <label class="newrooms-email">
          <input type="checkbox" ng-model="user.settings.email.newRooms" ng-change="updateSettings()"> hou me op de hoogte van nieuwe aanbiedingen
        </label>
      </div>
    </div>


    <div class="sidebar-header">
      <small class="text-center" ng-if="results.length > 0">{{results.length}} advertentie(s) gevonden</small>
      <small class="text-center" ng-if="results.length == 0">
        Geen resultaten gevonden. Probeer minder filters te gebruiken of zoom uit op de kaart.
      </small>
    </div>

    <div class="search-results">

      <ul class="results-list">
        <li class="search-result" ng-repeat="room in results" ng-click="selectRoom(room._id, room.url)" ng-mouseenter="openRoomPopup(room._id)" ng-class="{ 'active': room._id == selectedRoomId, 'is-seen': hasSeenRoom(room._id) }">
            <div class="result-type">
              <div class="maki-icon" ng-class="getRoomTypeIcon(room.classification)"></div>
            </div>
            <div class="result-info">
              <span class="result-price pull-right">€ {{room.price.total}}</span>
              <a href="" class="result-location">
                <span ng-if="isNewRoom(room)" class="red new-indicator">nieuw!</span> {{room.location.street}}
              </a>
              <br>
              <small ng-if="room.cohabit.active">zoekt huisgenoot</small>
            </div>
            <div class="clearfix"></div>
        </li>
      </ul>

    </div>

  </div>

  <div class="map">

    <mapbox-map class="map-canvas" map-center="mapCenter" map-zoom="mapZoom" map-changed="mapChangedEvent" prevent-popups="isOverLayOpen" cluster-markers="false" select-room="selectRoom">
        <mapbox-marker lat="{{room.loc.coordinates[1]}}" lng="{{room.loc.coordinates[0]}}" color="#FA6C65" icon="{{getRoomTypeIcon(room.classification)}}"  ng-repeat="room in results" room-id="{{room._id}}">

            <div class="row marker" back-img img-provider="{{room.pictures[0].provider}}" img-link="{{room.pictures[0].link}}" ng-click="selectRoom('{{room._id}}', '{{room.url}}')">

              <div data-val="{{room.pictures.length == 0}}" class="no-image tint-bg">
                <i class="icon-camera-1"></i>
              </div>

              <div class="col-xs-12">

                <div class="pull-right">
                  <button class="btn btn-default btn-xs">Meer info <i class="icon-right-open-1"></i></button>
                </div>
                <h1>{{room.location.street}}</h1>
                <span class="bottom-right">&euro; {{room.price.total}}</span>

              </div>

            </div>

        </mapbox-marker>
    </mapbox-map>

  </div>

  <div class="room-overlay" ui-view ng-if="selectedRoomId != null"></div>

</section>
