<section data-ng-controller="SearchController" class="search-view" ng-init="init()">
  <div class="map">
    <div class="map-canvas" search-map map-center="mapCenter" map-zoom="mapZoom" map-changed="mapChangedEvent" map-markers="results"></div>
  </div>

  <div class="sidebar">
    <div class="filters collapsed">
      <div class="filter row">
        <h6 class="filter-title col-sm-2">Room type</h6>
        <div class="col-sm-8">
          <div class="btn-group" ng-model="filter.roomType" checkbox-group>
            <button type="button" class="btn" data-val="house">Entire house</button>
            <button type="button" class="btn" data-val="room">Room</button>
            <button type="button" class="btn" data-val="studio">Studio</button>
            <button type="button" class="btn" data-val="appartment">Appartment</button>
          </div>
        </div>
      </div>
      <div class="filter row">
        <h6 class="filter-title col-sm-2">Price range</h6>
        <div class="col-sm-8">
          <div range-slider min="0" max="1000" step="50" filter="currency" filter-options="€" prevent-equal-min-max model-min="filter.minPrice" model-max="filter.maxPrice"></div>
        </div>
      </div>
      <div class="filter-extra">
        <div class="filter row">
          <h6 class="filter-title col-sm-2">Size</h6>
          <div class="col-sm-8">
            <input ng-model="filter.size" type="text" class="form-control" placeholder="Size in square meters">
          </div>
        </div>
        <div class="filter row">
          <h6 class="filter-title col-sm-2">Amenities</h6>
          <div class="col-sm-8">
            <div class="checkbox" ng-repeat="amenity in amenities">
              <label>
                 <input
                    type="checkbox"
                    name="{{amenity.value}}"
                    value="{{amenity.value}}"
                    ng-click="toggleAmenitySelection(amenity.value)"
                  > {{amenity.name}}
              </label>
            </div>
          </div>
        </div>
        <div class="filter-showresults">
          <button ng-click="runSearch()" class="btn btn-block btn-primary">Show results</div>
        </div>
      </div>
      <div class="sidebar-header">
        <small class="pull-right">{{results.length}} rooms found</small>
        <button class="btn btn-sm"><i class="icon-menu"></i> More filters</button>
      </div>
      <div class="search-results">
        <ul class="results-container clearfix">
          <li class="search-result" ng-repeat="room in results">
            <a ng-href="/#!/rooms/{{room._id}}">
              <div class="search-result-container">
                <div class="result-image" ng-class="{ 'tint-bg empty': room.pictures.length == 0 }">

                  <i ng-if="room.pictures.length == 0" class="icon-camera-1"></i>

                  <div ng-if="room.pictures.length > 0" class="owl-carousel owl-inner-nav owl-ui-md" owl-carousel owl-pagination="false">
                    <div class="item" ng-repeat="picture in room.pictures" on-repeat-done="pictures_rendered">
                      <figure style="background-image: url(http://res.cloudinary.com/dv8yfamzc/image/upload/{{picture}}.png);"></figure>
                    </div>
                  </div>

                </div>
                <div class="result-footer bordered no-top-border">
                  <div class="result-price pull-right">
                    € {{room.price.total}}
                  </div>
                  <div class="result-info">
                    <span class="result-room-type">{{room.classification}}</span>
                    <br>
                    <span class="result-location">{{room.location.street}}, {{room.location.city}}</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="results-footer">
        <div class="pagination-container">
          <ul class="pagination">
            <li><a href="#">prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">next</a></li>
          </ul>
        </div>
        <div class="breadcrumbs">

        </div>
        
      </div>
  </div>
</section>