<section data-ng-controller="SearchController" class="search-view" ng-init="init()">

  <div class="sidebar">


    <div class="filters">
      <div class="filter">
        <div class="btn-group" ng-model="filter.roomType" checkbox-group>
          <button type="button" class="btn minimal" data-val="house">House</button>
          <button type="button" class="btn minimal" data-val="room">Room</button>
          <!--<button type="button" class="btn" data-val="studio">Studio</button>-->
          <button type="button" class="btn minimal" data-val="appartment">App.</button>
          <button type="button" class="btn minimal" data-val="all">All</button>
        </div>
      </div>

      <div class="filter">
          <div range-slider min="0" max="1000" step="50" filter="currency" filter-options="€" prevent-equal-min-max model-min="filter.minPrice" model-max="filter.maxPrice"></div>
      </div>
    </div>

    
    <div class="sidebar-header">
      <small ng-if="results.length > 0">{{results.length}} rooms found</small>
      <small ng-if="results.length == 0">
        No results were found with this criteria. Try using less filters or zoom out the map!
      </small>
    </div>

    <div class="search-results">

      <ul class="results-list">        
        <li class="search-result" ng-repeat="room in results" ng-click="selectRoom(room._id)" ng-mouseenter="openRoomPopup(room._id)">
            <span class="result-price pull-right">€ {{room.price.total}}</span>
            <a href="#" class="result-location">{{room.location.street}}</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="map">
    <!-- <div class="map-canvas" mapbox-map-legacy map-center="mapCenter" map-zoom="mapZoom" map-changed="mapChangedEvent" map-markers="results"></div> -->

    
    <mapbox-map class="map-canvas" map-center="mapCenter" map-zoom="mapZoom" map-changed="mapChangedEvent" prevent-popups="isOverLayOpen">
        <mapbox-marker lat="{{room.loc.coordinates[1]}}" lng="{{room.loc.coordinates[0]}}" color="#f44" icon="lodging"  ng-repeat="room in results" room-id="{{room._id}}">

            <div class="row marker" style="background-image:url(//res.cloudinary.com/dv8yfamzc/image/upload/{{room.pictures[0]}}.png);">
              <div class="col-xs-12">
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-xs">More info <i class="icon-right-open-1"></i></a>
                </div>
                <h1>{{room.location.street}}</h1>
                <span class="bottom-right">&euro; {{room.price.total}}</span>
              </div>
            </div>

        </mapbox-marker>
    </mapbox-map>
    

  </div>

  <div class="room-overlay" ui-view ng-if="selectedRoomId != null"></div>

</section>