
.dashboard-tabs {
  margin-top: 150px;
  padding-bottom: 50px;
}

.dashboard-top-bar {
  // margin-bottom: 20px;

  ul {
    position: relative;
    left: -10px;
    margin-bottom: 0;

    li {
      display: inline-block;
      position: relative;
      padding: 10px 16px;

      a {
        padding: 10px 0;

        &:first-child {
          left: -16px;
        }
      }

      &.active {
        font-weight: bold;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 16px;
          right: 16px;
          height: 4px;
          background: #1ABB9C;
        }
      }
    }
  }
}

.dashboard-bg {
    height: 250px;
    margin-bottom: 50px;

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        height: 150px;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        height: 200px;
    }

    h1 {
        color: white;
        padding-left: 90px;
        padding-top: 90px;
    }
}
