.my-favorites {

    .profile-picture {
      border-radius: 50%;
      width: 36px;
      height: 36px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
    }

}