.inbox {

  .profile-picture {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    top: 5px;
  }

  .sender-name {
    margin-left: 50px;
  }


  .room-card {
    padding: 0;
    margin-bottom: 10px;

    .room-image {
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      width: 150px;

      &.empty {
        font-size: 40px;
        text-align: center;
        line-height: 95px;
      }
    }

    .room-info {
      float: left;
      padding: 10px;
    }
  }

  .messages {
    max-height: 300px;
    overflow: auto;
    padding: 10px;
    position: relative;

    .message {
      position: relative;
    }

    .serverinfo {
      padding: 20px 0;
      border-bottom: 1px solid #E6E9ED;
      border-top: 1px solid #E6E9ED;
      width: 300px;
      margin: 20px auto;
    }

    .bubble,.bubble--alt{
      position: relative; 
      margin-top: 3px;
      margin-bottom: 20px;
      padding: 2px 8px 4px;
      max-width: 80%;
      clear: both;
      color: #FFF;
    }

    .bubble {
      float: left;
      margin-right: auto;
      background-color: #1ABB9C;

      &:after {
        content: ' ';
        position: absolute;
        bottom: -15px;
        left: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 0;
        border-color: #1ABB9C transparent transparent transparent;
      }

    }

    .bubble--alt {
      float: right;
      margin-left: auto;
      text-align: right;
      background-color: #3F8DBF;

      &:after {
        content: ' ';
        position: absolute;
        bottom: -15px;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 0;
        border-color: transparent #3F8DBF transparent transparent;
      }

    }

  }

  .message-input {
    margin-top: 10px;
  }

}