.my-rooms {

  h4, .indicator {
    padding-top: 10px;
  }

  .indicator {
    padding-left: 30px;
  }

  .room {
    width: 200px;
    height: 250px;
    float: left;
    margin: 20px;
    cursor: pointer;

    .info {
      padding: 10px;
      text-align: center;
    }

    .room-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
    }

  }

}
 