.online-icon {
  color: #71DE22;
}

.offline-icon {
  color: #B6B6B6;
}

.icon-record {
  transition: color 500ms ease-out;
}

.room-owner-panel {
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;

  .container {
    line-height: 40px;
    text-transform: uppercase;
  }

  .visibility-switch {

    .indicator {
      float: left;
    }

  }
}