.online-icon {
  color: #71DE22;
}

.offline-icon {
  color: #B6B6B6;
}

.viewRoom .owl-item .item {
    height: 400px;
}

.owl-item .item figure {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.owl-carousel {
  display: block !important;
}

.streetView {
  height: 400px;
}

.room-map {
  height: 400px;
}

.room-map search-map {
  width: 100%;
  height: 400px;
}

.room-map .map-canvas {
  height: 100%;
}

.room-image {
  width: 100%;
}

.room-image {
  height: 500px;
}

.room-image.empty {
  text-align: center;
  line-height: 250px;
  font-size: 100px;
  opacity: 0.9;
  padding: 0; 
  margin-top: 0; 
}

.room-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.room-costs {
  width: 100%;
  vertical-align: bottom;
}
.room-costs i {
  cursor: pointer;
  opacity: 0.8;
}
.room-costs i:hover {
  opacity: 1;
}
.room-costs tr:nth-child(odd):not(.divider,.total) {
  background: #CCC;
}
.room-costs tr.total {
  height: 50px;
}
.room-costs td {
  height: 25px;
}
.room-costs h2, .room-costs h4 {
  text-align: right;
  margin: 0;
}
.room-costs .divider td {
  height: 15px;
  border-bottom: 1px solid #ddd;
}


.room-info {
  margin-top: 30px;
}
.room-info ul.amenities li {
  float:left;
  display:inline;
  width: 50%;
}
.room-info ul.amenities li:before {
  font-family: 'fontello';
  font-weight: normal;
  padding-top: 1px;
  margin-left: -20px;
  vertical-align: top;
  position: absolute;
}
.room-info ul.amenities li.checked:before {
  content: '\2713';
  color: #1ABB9C;
}
.room-info ul.amenities li.crossed:before {
  content: '\2715';
  color: #FA6C65;
}

.room-owner-panel {
  height: 40px;
}
.room-owner-panel .container {
  line-height: 40px;
  text-transform: uppercase;
}

.favorite-icon {
  cursor: pointer;
}
.favorite-icon:hover:before {
  content: '\e803';
};

.room-creation-steps {
  margin: 50px 0;
}

.room-creation-steps i {
  font-size: 50px;
}

.room-creation-steps .room-step {
  position: relative;
  text-align: center;
  background: #FFF;
  border-bottom: 2px solid transparent;
  border-color: #E1E7ED;
  border-radius: 3px;
  padding: 20px 0;
  opacity: .5;
}

.room-creation-steps .room-step.active {
  opacity: 1;
}

.room-creation-steps .room-step:after, .room-creation-steps .room-step:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.room-creation-steps .room-step:after {
  border-top-color: #FFF;
  border-width: 20px;
  margin-left: -20px;
}
.room-creation-steps .room-step:before {
  border-top-color: #E1E7ED;
  border-width: 23px;
  margin-left: -23px;
}

.room-edit ul.amenities li {
  float:left;
  display:inline;
  width: 50%;
  margin: 3px 0;
}
