.online-icon {
  color: #71DE22;
}

.offline-icon {
  color: #B6B6B6;
}

.room-owner-panel {
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;

  .container {
    line-height: 40px;
    text-transform: uppercase;
  }

  .visibility-switch {

    .indicator {
      float: left;
    }

    select {
      float: left;
      width: 120px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 5px;
      height: 30px;
    }

  }
}