.modal {
  .modal-content {
    border-radius: 2px;

    .modal-header {
      padding: 10px 15px;
      background: #F5F7FA;

      h4 {
        margin-bottom: 0;
      }

      .close {
        margin-top: 2px;
      }
    }

    .modal-body {
      .sidelines {
        margin: 25px 0 20px;
        font-size: 14px;

        span {
          background-color: #FFF;
        }
      }
    }

    .modal-footer {
      padding: 10px 20px;
      text-align: left;
    }
  }

  &.small .modal-dialog {
    width: 300px;
  }

  &.medium .modal-dialog {
    width: 350px;
  }

}

.payment-modal {

  .lock-icon {
    font-size: 100px;
  }

  .creditcards {
    padding-left: 0;

    li {
      display: inline;

      &.active img {
        outline: 1px solid green;
      }
    }

  }

}