<h3 translate>Wachtwoord wijzigen</h3>
<form data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
    <fieldset>
        <div class="form-group">
            <label for="currentPassword" translate>Huidige wachtwoord</label>
            <input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Oude wachtwoord">
        </div>
        <div class="form-group">
            <label for="newPassword" translate>Nieuwe wachtwoord</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nieuwe wachtwoord">
        </div>
        <div class="form-group">
            <label for="verifyPassword" translate>Vul je wachtwoord opnieuw in</label>
            <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Opnieuw">
        </div>
        <div class="text-center form-group">
            <button type="submit" class="btn btn-large" translate>Opslaan</button>
        </div>
        <div data-ng-show="success" class="text-center text-success">
            <strong translate>Wachtwoord aangepast!</strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
            <strong>{{error}}</strong>
        </div>
    </fieldset>
</form>
