<h3 translate>Profiel aanpassen</h3>
<form data-ng-submit="updateUserProfile()" class="signin" autocomplete="off">
    <fieldset>
        <div class="form-group">
            <label for="firstName" translate>Voornaam</label>
            <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="{{'Je voornaam'|translate}}">
        </div>
        <div class="form-group">
            <label for="lastName" translate>Achternaam</label>
            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="{{'Je achternaam'|translate}}">
        </div>
        <div class="form-group">
            <label for="organization" translate>Organisatie</label>
            <input type="text" id="organization" name="organization" class="form-control" data-ng-model="user.organization" placeholder="{{'Organisatie (optioneel)'|translate}}">
        </div>
        <div class="form-group">
            <label for="email" translate>Email</label>
            <input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="{{'Je email'|translate}}">
        </div>
        <div class="text-center form-group">
            <button type="submit" class="btn btn-large" translate>Profiel opslaan</button>
        </div>
        <div class="text-center text-success" blink-text class="blink-text" style="display:none;">
            <strong translate>Profiel aangepast!</strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
            <strong>{{error}}</strong>
        </div>
    </fieldset>
</form>
