
<div ng-init="getMyRooms()" class="my-rooms col-sm-offset-1 col-sm-10">

   <div class="col-sm-offset-2 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">My rooms</div>
        <div class="panel-body" ng-hide="inboxes.length > 0">
          You don't have any room yet! <a href="/#!/rooms/new">create one</a>?
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="room in myroom">

            <div class="room-image" style="background-image: url('http://placehold.it/500x500');"></div>

            <div class="info bordered no-top-border">
                <h4>{{room.location.street}} <small>{{room.location.city}}</small></h4>
                <p>
                  <span ng-if="room.visible"><i class="icon-record online-icon"></i> online</span>
                  <span ng-if="!room.visible"><i class="icon-record offline-icon"></i> offline<span ng-if="room.isInOrder"> - you need to <a href="/#!/rooms/{{room._id}}/edit/">add some more details</a></span></span>
                </p>
            </div>

          </div>
        </div>
    </div>  
  </div>

</div>