
<div ng-init="getMyRooms()" class="my-rooms col-sm-offset-1 col-sm-10">
  <div class="col-sm-1">

  </div>

   <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">Mijn advertenties</div>
        <div class="panel-body" ng-hide="myrooms.length > 0">
          Je hebt nog geen advertenties!
        </div>

        <div class="list-group">
          <div class="list-group-item" ng-repeat="room in myrooms">

            <div class="info row">
                <h4 class="col-sm-8">
                  <a href="{{room.url}}">
                    {{room.info.title != '' ? room.info.title : room.location.street}}
                  </a>
                  <a href="/rooms/{{room._id}}/edit/" tooltip="Advertentie aanpassen"><i class="icon-pencil"></i></a>
                  <a href="" ng-click="viewAnalytics(room)" tooltip="Statistieken bekijken"><i class="icon-chart-pie"></i></a>
                </h4>

                <div class="col-sm-4 visibilty-switch-container">
                  <div class="visibility-switch">
                    <input id="switch-button{{$index}}" class="switch switch-round" type="checkbox" ng-model="room.visible" ng-disabled="!room.isInOrder" ng-change="updateRoom(room)">
                    <label for="switch-button{{$index}}"></label>
                  </div>
                  <span ng-if="room.visible" class="visibility-switch-text green">online</span>
                  <span ng-if="!room.visible" class="visibility-switch-text">offline</span>
                </div>
            </div>

            <small ng-if="!room.isInOrder">
                <span class="red"><i class="icon-attention-1"></i> Je moet meer gegevens invoeren voor je deze advertentie online kan plaatsen. </span>
            </small>

          </div>
        </div>

        <div class="panel-footer">
          <a href="/rooms/new" class="btn btn-sm pull-right"><i class="icon-plus-1"></i> Nieuwe advertentie</a>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>

</div>
