<section data-ng-controller="InboxController" ng-init="list()" class=" col-sm-offset-1 col-sm-10">

  <div class="col-sm-offset-2 col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">Message inbox</div>
        <div class="panel-body" ng-hide="inboxes.length > 0">
          You don't have any messages yet :)
        </div>
        <div class="list-group">
          <a ng-href="/#!/dashboard/messages/{{inbox._id}}" class="list-group-item" ng-repeat="inbox in inboxes">

            <button class="btn btn-sm pull-right">Reply <i class="glyphicon glyphicon-share-alt"></i></button>
            <h4 class="list-group-item-heading">{{inbox.sender._id == authentication.user._id ? inbox.roomOwner.displayName : inbox.sender.displayName }}</h4>
            <p class="list-group-item-text">
              <i ng-if="inbox.messages[inbox.messages.length-1].sender == authentication.user._id" class="icon-reply"></i>
              {{inbox.messages[inbox.messages.length-1].message}}
            </p>
            <small am-time-ago="inbox.messages[inbox.messages.length-1].sent"></small>

          </a>
        </div>
    </div>  
  </div>
    
</section>