<section data-ng-controller="DashboardController" data-ng-init="init()" class="">
  <div class="">

    <div class="dashboard-tabs tabs tabs-circle-top tab-container dark-bg">
                
      <ul class="etabs text-center">
        <li ng-class="{ active: nav == 'rooms'}" class="tab">
          <a href="" ng-click="setTab('rooms')" class="active"><div><i class="icon-home"></i></div>My rooms</a>
        </li>
        <li ng-class="{ active: nav == 'messages'}" class="tab">
          <a href="" ng-click="setTab('messages')"><div><i class="icon-chat"></i></div>Messages</a>
        </li>
        <li ng-class="{ active: nav == 'alerts'}" class="tab">
          <a href="" ng-click="setTab('alerts')"><div><i class="icon-bell-1"></i></div>Alerts</a>
        </li>
        <li ng-class="{ active: nav == 'profile'}" class="tab">
          <a href="" ng-click="setTab('profile')"><div><i class="icon-user"></i></div>Profile</a>
        </li>
        <li ng-class="{ active: nav == 'account'}" class="tab">
          <a href="" ng-click="setTab('account')"><div><i class="icon-cog-alt"></i></div>Account</a>
        </li>
      </ul><!-- /.etabs -->
    </div>
      
      <div ng-switch="nav" class="container">
        
        <div ng-switch-when="rooms">
          <div ng-include="'/modules/users/views/dashboard/user-rooms.client.view.html'"></div>
        </div>
        <div ng-switch-when="messages">
          <div ng-include="'/modules/users/views/dashboard/user-messages.client.view.html'"></div>
        </div>
        <div ng-switch-when="alerts">
          <div ng-include="'/modules/users/views/dashboard/user-alerts.client.view.html'"></div>
        </div>
        <div ng-switch-when="profile">
          <div ng-include="'/modules/users/views/dashboard/user-profile.client.view.html'"></div>
        </div>
        <div ng-switch-when="account">
          <div ng-include="'/modules/users/views/dashboard/user-account.client.view.html'"></div>
        </div>
           
      </div><!-- /.panel-container -->
       
    
    <div class="tab-container" ng-switch="nav">

    </div>
  </div>
</div>