<section data-ng-controller="InboxController" data-ng-init="init()" class="container">

  <div class="row">
    <div class="col-sm-3">
      <ul class="sidenav">
        <li data-ng-repeat="other in inboxes" ng-class="{ active: other._id == inbox._id }">
          <a href="" ng-click="showInbox(other._id)">
            <span ng-show="other.hasUnreadMessages && other._id !== inbox._id" class="pull-right"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
            <i class="glyphicon glyphicon-comment"></i>
            {{other.sender._id == authentication.user._id ? other.roomOwner.displayName : other.sender.displayName }}
          </a>
        </li>
      </ul>
    </div>
    
    <div class="col-sm-6" ng-cloak>

      <div class="messages bordered" ng-model="inbox.messages.length" scroll-bottom>
        <p class="serverinfo text-center">
          <small>you guys are talking about the <a href="#!/rooms/{{inbox.room._id}}">{{inbox.room.classification}} in {{inbox.room.location.street}}, {{inbox.room.location.city}}</a></small>
        </p>
        <div data-ng-repeat="message in inbox.messages" class="" ng-class="{ 'bubble--alt': isMessageOwner(message), 'bubble': !isMessageOwner(message) }">
            <!-- <small class="list-group-item-text">{{message.sent | date:'medium'}} / {{message.sender.displayName}}</small> -->
            {{message.message}}
        </div>
      </div>

      <div class="row">
        <form ng-submit="sendMessage()" class="col-sm-12">
          <div class="input-group">
            <input type="text" ng-model="newMessage" ng-maxlength="500" class="form-control" placeholder="Type your message" required>
            <span class="input-group-btn">
              <button type="submit"  class="btn btn-default">Send</button>
            </span>
          </div>
        </form>
      </div>
    </div>


  </div>
</section>