<section class="container reset-view" data-ng-controller="AuthenticationController">
    <div class="row">

        <div class="col-sm-4 col-sm-offset-4 bordered">
            <h3 class="text-center">Wachtwoord opnieuw instellen</h3>
            <form data-ng-submit="reset()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <label for="newPassword">Nieuw wachtwoord</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="verifyPassword">Typ je wachtwoord opnieuw</label>
                        <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                    </div>
                    <div class="text-center form-group">
                        <button ng-class="{ disabled: busy }" type="submit" class="btn btn-large">Aanpassen</button>
                        <!-- <img ng-show="busy" class="spinner" src="/modules/core/img/loaders/loading.svg"> -->
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong>{{error}}</strong>
                    </div>
                    <div data-ng-show="success" class="text-center text-success">
                        <strong>{{success}}</strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
