<section ng-controller="AuthenticationController">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()">&times;</button>
	  <h4>Inloggen</h4>
	</div>

	<div class="modal-body">
		<a href="/auth/facebook" class="btn btn-blue btn-block btn-social btn-facebook"><i class="icon-s-facebook"></i> Facebook</a>
		<a href="/auth/google" class="btn btn-red btn-block btn-social btn-google-plus"><i class="icon-s-gplus"></i> Google Plus</a>

		<!-- <div class="line-seperator">
		  <span>or</span>
		</div> -->

		<p class="sidelines text-center"><span>of</span></p>

		<form data-ng-submit="signin()" class="signin">
			<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="voorbeeld@email.com">
			<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="wachtwoord">
			<button type="submit" class="btn btn-block">Inloggen</button>
		</form>

		<div data-ng-show="error" class="text-center text-danger">
			<strong>{{error}}</strong>
		</div>

	</div>

	<div class="modal-footer">
		<p class="pull-right">
			<a href="/#!/forgot" ng-click="$dismiss()">Wachtwoord vergeten?</a>
		</p>
		<p>
			<a href="" ng-click="openSignupModal()"> Nieuwe account</a>
		</p>
	</div>
</section>