<section ng-controller="AuthenticationController">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()">&times;</button>
	  <h3>Sign up</h3>
	</div>

	<div class="modal-body">
		<a href="/auth/facebook" class="btn btn-lg btn-block btn-social btn-facebook"><i class="icon-s-facebook"></i> Facebook</a>
		<a href="/auth/google" class="btn btn-lg btn-block btn-social btn-google-plus"><i class="icon-s-gplus"></i> Google Plus</a>

		<div class="line-seperator">
		  <span>or</span>
		</div>

		<form data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
			<div class="form-group">
				<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="first Name">
			</div>
			<div class="form-group">
				<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="last Name">
			</div>
			<div class="form-group">
				<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="email@example.com">
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="password">
			</div>
			<div class="text-center form-group">
				<button type="submit" class="btn btn-block">Sign up</button>
				<a href="/#!/signin" class="show-signup btn-link">or sign in</a>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong>{{error}}</strong>
			</div>
		</form>

	</div>
</section>