{% extends 'layout.email.html' %}

{% block content %}

  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            <h1 style="text-align:center;">Advertentie toegevoegd!</h1>

            <br>

            Beste <%=  user.firstName  %>,
            <br><br>
            Je advertentie is toegevoegd aan de website.
            <br><br>
            Voor je ze online kan plaatsen, zal je nog enkele details moeten invullen zoals een titel en de kosten van het pand.
            <br><br>
            Eens je de advertentie op online plaatst, zal ze zichtbaar zijn voor elke gebruiker en zal je berichten kunnen beginnen ontvangen.
            <br>
            <hr class="line">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->

  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            Veel success!

            <a target="_blank" href="<%=  app.host  %><%=  editLink  %>" class="button">Pas je advertentie aan</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>


{% endblock %}
