{% extends 'layout.email.html' %}

{% block content %}

  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            Beste {{ user.firstName }},
            <br><br>
            De advertentie <em>{{ room.info.title }}</em> is automatisch op offline gezet omdat de beschikbaarheidsdatum die je hebt ingegeven verlopen is.
            <br><br>
            Indien dit de bedoeling is kan je deze mail negeren, anders kan je je advertentie wijzigen via de website.
            <br>
            <hr class="line">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->

  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            Klik op de knop onderaan om je advertentie te wijzigen.

            <a target="_blank" href="{{ app.host }}{{ editLink }}" class="button">Advertentie wijzigen</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>


{% endblock %}
