
{% extends 'layout.email.html' %}

{% block content %}

  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            <h3>Nieuwe advertenties deze week:</h3>
            <hr class="line">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->

  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        {% for room in rooms %}
        <tr>
          <td class="default room">

            <h2><a target=s"_blank" href="{{ app.host }}{{ room.url }}">{{ room.info.title }}</a></h2>

            <a target=s"_blank" href="{{ app.host }}{{ room.url }}">
            {% if room.pictures.length > 0 %}
              <div class="image-wrapper" style="background-image: url('{{ room.pictures[0].link }}');">
                <div class="room-price">€ {{ room.price.total }}</div>
              </div>
            {% else %}
              <div class="image-wrapper empty">
                <div class="room-price">€ {{ room.price.total }}</div>
              </div>
            {% endif %}
            </a>

            <p>{{ room.info.description }}</p>

          </td>
        </tr>
        {% endfor %}
        <!--
          <tr>
            <td class="default sponsor">

              <p>SPONSOR</p>

            </td>
          </tr> -->
      </table>
    </td>
  </tr>


{% endblock %}
