{% extends 'layout.email.html' %}

{% block content %}

  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            <h1 style="text-align:center;">Je hebt een nieuw bericht!</h1>

            <br>

            Hey <%=  user.displayName  %>,
            <br><br>
            Je hebt een nieuw bericht ontvangen op 1roof.be
            <br><br>
            Ga naar de website om de reacties te bekijken en erop te antwoorden.
            <br>
            <hr class="line">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->

  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            <a target="_blank" href="<%=  app.host  %>" class="button">Ga naar de website</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>


{% endblock %}
