{% extends 'layout.email.html' %}

{% block content %}

  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            Beste {{ user.displayName }},
            <br><br>
            We hebben een aanvraag ontvangen om je wachtwoord opnieuw in te stellen. 
            <br><br>
            Indien je je wachtwoord niet wou herstellen, kan je deze email zonder probleem negeren.
            <br>
            <hr class="line">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->
  
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td class="default">
            Klik op de knop onderaan om verder te gaan.

            <a target="_blank" title="Activate Account" href="{{ resetLink }}" class="button">Herstel wachtwoord</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
            
{% endblock %}
