{% extends 'layout.email.html' %}

{% block content %}

  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td style="padding: 30px 30px 0px 30px; font-family: sans-serif; font-size: 15px; line-height: 22px; color: #656565;">
            Dear Ms/Mr [surname],
            <br><br>
            Thank you for choosing to spend your holidays with us.<br>We would like to inform you that your reservation is confirmed as follows.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->
  
  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td style="padding: 20px 30px; font-family: sans-serif; font-size: 16px; line-height: 22px; color: #656565;">
          <hr style="height:0; border:0; border-bottom:1px solid #f0f0f0;">
            Reservation N° <strong>[comment]</strong>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->
    
  <!-- Four Column ==> Stacked Wide Layout ==> Stacked Narrow Layout : BEGIN -->
  <tr>
    <td style="padding: 10px 30px 20px 30px;">
      <table border="0" cellpadding="0" cellspacing="0" class="columns-container">
        <tr>
          <td width="160" style="padding-right: 30px;font-family: sans-serif; font-size: 15px; line-height: 22px;color: #656565;" valign="top" class="force-col">
            <span style="color:#656565; font-weight:bold">Check-in</span><br>
            [starting_date]
          </td>
          <td style="font-size: 0; line-height: 0; display: none;" class="hh-spacer">&nbsp;</td>
          <td width="160" style="padding-right: 30px;font-family: sans-serif; font-size: 15px; line-height: 22px;color: #656565;" valign="top" class="force-col">
            <span style="color:#656565; font-weight:bold">Check-out</span><br>
            [ending_date] 
          </td>
          <td style="font-size: 0; line-height: 0; display: none;" class="hh-spacer">&nbsp;</td>
          <td width="160" style="padding-right: 30px; font-family: sans-serif; font-size: 15px; line-height: 22px;color: #656565;" valign="top" class="force-col">
            <span style="color:#656565; font-weight:bold">Rooms</span><br>
        [rate_name]
          </td>
          <td style="font-size: 0; line-height: 0; display: none;" class="hh-spacer">&nbsp;</td>
          <td width="160" style="font-family: sans-serif; font-size: 15px; line-height: 22px;color: #656565;" valign="top" class="force-col">
            <span style="color:#656565; font-weight:bold">Guests</span><br>
        [people_num_tot]
          </td>
        </tr>
      </table>
      <hr style="height:0; border:0; border-bottom:1px solid #f0f0f0;">
    </td>
  </tr>
  <!-- Four Column ==> Stacked Wide Layout ==> Stacked Narrow Layout : END -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td style="padding: 10px 30px 20px 30px; font-family: sans-serif; font-size: 15px; line-height: 22px; color: #656565;">
            Please feel free to contact us back at your convenience if you need more info or have other particular requests.<br><br>
            Kind regards,<br>
            Contact name<br><br>
            <hr style="height:0; border:0; border-bottom:1px solid #f0f0f0;">
            <a target="_blank" title="Activate Account" href="#" class="button">Activate Account</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <!-- Full Width, Fluid Column : BEGIN -->
  <tr>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff">
        <tr>
          <td style="padding: 10px 30px 20px 30px; font-family: sans-serif; font-size: 10px; line-height: 15px; color: #aaa;">
            <em><strong>Payment Policy</strong>
            <br>
            The hotel reserves the right to pre-authorize credit cards prior to arrival.
            <br>
            No charge will be made to your credit card and payment will be made directly to the hotel, unless otherwise stated.
            <br><br>
            <strong>Cancellation Policy</strong>
            <br>
            i) If cancelled up to 14 days before the date of arrival, no fee will be charged.
            <br>
            ii) If cancelled or modified or in case of no-show, 50% of the total price of the reservation will be charged.</em>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Full Width, Fluid Column : END -->
            
{% endblock %}
