<section class="home-view ng-scope">

    <div id="hero">
        <div class="video-container"><video class="background-video" id="backgroundVideo" autoplay="" preload="" type="" style="opacity:0;" src=""></video><video class="background-video" id="stagingVideo" autoplay="" preload="" type="" style="opacity:0;" src=""></video></div>
        <div class="raster">
            <div class="hero-content col-sm-offset-2 col-sm-8">
                <h1><span class="ng-scope">Welkom bij </span><span class="light">1roof</span></h1>
                <p class="lead">
                    <span><span class="ng-scope">zoek op een nieuwe en makkelijke manier je toekomstige</span></span>
                    <span class="words">
                        <span> appartement</span>
                        <span> woning</span>
                        <span> kot</span>
                        <span> huis</span>
                        <span> villa</span>
                        <span> kantoor</span>
                    </span>
                </p>
                <form class="form-inline ng-pristine ng-valid" role="form" ng-submit="goToSearch()">
                    <div class="input-group input-group-lg col-sm-6">
                        <input type="text" class="center-block form-control input-lg ng-pristine ng-untouched ng-valid ng-isolate-scope" placeholder="Waar wil je iets huren?">
                        <span class="input-group-btn"><button class="btn" type="submit"><span class="ng-scope">Zoeken</span></button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section id="who-we-are">
        <div class="container inner-top inner-bottom-sm">

            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1><span class="ng-scope">Snel. Simpel. Krachtig.</span></h1>
                    <p><span class="ng-scope">Ontdek prachtige accomodaties overal in België</span></p>
                </header>
            </div>

            <div class="inner-top-sm text-center">

                <div class="col-sm-4 inner-bottom-xs">
                    <div class="icon">
                        <i class="icon-chat-1 icn lg"></i>
                    </div>
                    <h2><span class="ng-scope">Chatten.</span></h2>
                    <p class="text-small"><span class="ng-scope">Praat en stel vragen met de huisbazen alsof ze naast jou zaten. Krijg vliegensvlug een antwoord.</span></p>
                </div>

                <div class="col-sm-4 inner-bottom-xs">
                    <div class="icon">
                        <i class="icon-calendar-1 icn lg"></i>
                    </div>
                    <h2><span class="ng-scope">Afspraken.</span></h2>
                    <p class="text-small"><span class="ng-scope">Met amper twee klikken kan je een afspraak maken met een huisbaas. Geen tijd te verliezen!</span></p>
                </div>

                <div class="col-sm-4 inner-bottom-xs">
                    <div class="icon">
                        <i class="icon-lamp icn lg"></i>
                    </div>
                    <h2><span class="ng-scope">Meldingen.</span></h2>
                    <p class="text-small"><span class="ng-scope">Je droomhuis nog niet kunnen vinden? Geen nood, we kunnen je een e-mail sturen als er een advertentie wordt geplaatst die aan jouw criteria voldoet.</span></p>
                </div>

            </div>
        </div>
    </section>
    <section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(/modules/core/img/pattern-background01.jpg);">
        <div class="container inner">

            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Ontstaan uit de site <a href="http://www.kotzoeker.be">kotzoeker.be</a> en dus reeds vertrouwd door meer dan 1000 huisbazen.</h1>
                </header>
            </div>

        </div>
    </section>
    <section id="get-started" class="tint-bg">
        <div class="container inner-sm">
            <div class="col-sm-11 center-block text-center">
                <h1 class="single-block"><span><span class="ng-scope">Hulp nodig?</span></span> <a href="mailto:info@1roof.be" class="btn btn-white btn-lg"><span class="ng-scope">Contacteer ons!</span></a></h1>
            </div>
        </div>
    </section>
</section>

</section>

<footer class="ng-scope"><section class="dark-bg ng-scope">

    <div class="container inner">
        <div class="row">
            
            <div class="col-md-3 col-sm-6 inner links">
                <h4><span class="ng-scope">Populaire steden</span></h4>

                <a class="txt-btn" href="/search/Gent"><span class="ng-scope">Gent</span></a>
                <a class="txt-btn" href="/search/Antwerpen"><span class="ng-scope">Antwerpen</span></a>
                <a class="txt-btn" href="/search/Leuven"><span class="ng-scope">Leuven</span></a>
                <a class="txt-btn" href="/search/Brussel"><span class="ng-scope">Brussel</span></a>
                <a class="txt-btn" href="/search/Kortrijk"><span class="ng-scope">Kortrijk</span></a>
                <a class="txt-btn" href="/search/Hasselt"><span class="ng-scope">Hasselt</span></a>
            </div>

            <div class="col-md-3 col-sm-6 inner">
                <h4><span class="ng-scope">Wie zijn we</span></h4>
                <a href="/"><img class="logo img-intext" src="/modules/core/img/brand/logo.png" alt="1roof logo"></a>
                <p><span class="ng-scope">1Roof is een website met een missie om voor jou alles makkelijker te maken. We streven ernaar om je op de simpelste manier dichterbij te brengen bij het pand van je dromen.</span></p>
                <a href="/about" class="txt-btn"><span class="ng-scope">Meer over ons</span></a>
            </div>
            
            <div class="col-md-3 col-sm-6 inner">
                <h4><span class="ng-scope">Laatste online</span></h4>
                
                <div class="row thumbs gap-xs">

                </div>
            </div>
            
            
            <div class="col-md-3 col-sm-6 inner">
                <h4><span class="ng-scope">Neem contact op</span></h4>
                <p><span class="ng-scope">Heb je een vraag, zit je met iets of wil je gewoon iets kwijt? Aarzel dan niet om ons te contacteren.</span></p>
                <ul class="contacts">
                    <li><a href="mailto:info@1roof.be"><i class="icon-mail-1 contact"></i> info@1roof.be</a></li>
                </ul>
            </div>
            
        </div>
    </div>

    <div ng-hide="hidden" class="footer-bottom">
        <div class="container inner">

            <div class="row">

                <div class="col-sm-5">
                    <p><span class="ng-scope">© 2014 1roof.be Alle rechten voorbehouden.</span></p>
                </div>

                <div class="col-sm-2">
                    <ul class="social-buttons">
                        <li><a href="https://www.facebook.com/pages/1roofbe/1623672907859880?ref=hl"><i class="icon-s-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/116903800934073569983" rel="publisher"><i class="icon-s-gplus"></i></a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <ul class="footer-menu">
                        <li><a href="/"><span class="ng-scope">Home</span></a></li>
                        <li><a href="mailto:info@1roof.be"><span class="ng-scope">Contact</span></a></li>
                        <li><a href="/about"><span class="ng-scope">Over ons</span></a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <div class="select-style language-select footer-menu">
                        <select ng-model="$root.language" ng-init="$root.language = $root.language || 'nl'" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                            <option value="nl">Nederlands</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
</footer>