<!DOCTYPE html>
<html lang="nl" ng-attr-lang="{{language}}" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title ng-bind="meta.title"><%= title %></title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="HandheldFriendly" content="true" />

    <!-- Crawler META -->
    <meta name="fragment" content="!">
    <!-- <link rel="canonical" href="https://1roof.be"/> -->

    <!-- Semantic META -->
    <meta name="keywords" content="<%= keywords %>">
    <meta name="description" content="<%= description %>" ng-attr-content="{{meta.description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="<%= facebookAppId %>">
    <meta property="og:site_name" content="1roof">
    <meta property="og:title" content="<%= title %>" ng-attr-content="{{meta.title}}">
    <meta property="og:description" content="<%= description %>" ng-attr-content="{{meta.description}}">
    <meta property="og:image" content="https://1roof.be/modules/core/img/brand/logo_big.png" ng-attr-content="{{meta.image}}">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="<%= title %>" ng-attr-content="{{meta.title}}">
    <meta name="twitter:description" content="<%= description %>" ng-attr-content="{{meta.description}}">
    <meta name="twitter:image" content="https://1roof.be/modules/core/img/brand/logo_big.png" ng-attr-content="{{meta.image}}">

    <!-- Webmaster Tools META -->
    <meta name="google-site-verification" content="jz0njGtaUyA62DOqbW41EGfTE1ag5caBo9Na70tMwCY" />

    <!-- Fav Icon -->
    <link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Languages -->
    <link href="<%= host %>/?lang=en" rel="alternate" hreflang="en" />

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}<link rel="stylesheet" href="<%= cssFile %>">
    {% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <base href="/">
</head>

<body class="ng-cloak light-bg">

    <div class="wrapper">

        <div ng-include="'/modules/core/views/header.client.view.html'"></div>

        <div class="alert-container container" ng-include="'/modules/core/views/alerts.client.view.html'"></div>

        <section class="content">
            {% block content %}{% endblock %}
        </section>

        <footer ng-include="'/modules/core/views/footer.client.view.html'"></footer>
    </div>

    <!--Embedding The User Object-->
    <script type="text/javascript">
        var user = <%= user | json | safe %>;
    </script>

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}<script type="text/javascript" src="<%= jsFile %>"></script>
    {% endfor %}

    {% if process.env.NODE_ENV === 'development' %}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    <!-- Dropbox chooser -->
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="q0gd55svz8d8gcy"></script>

    <!-- Addthis -->
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa517617d93a544&async=1"></script>

</body>

</html>
