<div class="promote-view" ng-controller="PromoteController" ng-init="init()">

    <div class="row promote-header">

        <div class="col-xs-12 col-sm-6">
            
            <h2>See how <strong>University Niche</strong> can drive students to <strong>your small business.</strong></h2>

            <div style="text-align:center;">
                <a class="btn btn-lg">Build your ad now <i class="icon-right-open-1"></i></a>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 map-container">
            
            <div class="map"></div>

        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="highlight col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1">
                <p>University Niche is the first place students go when looking for places to live near their school. By promoting on our map and property information pages, students are exposed to your business in a way that is helpful and leaves a lasting impact.</p>
                <div class="blue-bg">
                    <p class="lead">Three distinct placements let students see that your business is a welcoming part of their new neighborhood.</p>
                </div>
            </div>
        </div>

        <div class="row features">

            <div class="col-sm-3 col-xs-12 text-center">
                <h2 class="inline-border">Oplijstingen</h2>
                <img src="http://yabberapp.com/housing/static/img/demo-listing.png">
                <p>Your business appears on every property listing. We let students know how far away your business is from the home they're looking at.</p>
            </div>

            <div class="col-sm-1 hidden-xs">
                <i class="icon-plus-1 plus-icon"></i>
            </div>

            <div class="col-sm-4 col-xs-12 text-center">
                <h2 class="inline-border">Kaart</h2>
                <img src="http://yabberapp.com/housing/static/img/demo-map.png">
                <p>Eye-catching icons help students see where local businesses are in relation to homes and campus. Your business will appear alongside all the homes for rent in our database.</p>
            </div>

            <div class="col-sm-1 hidden-xs">
                <i class="icon-plus-1 plus-icon"></i>
            </div>

            <div class="col-sm-3 col-xs-12 text-center">
                <h2 class="inline-border">Nieuwsbrief</h2>
                <img src="http://yabberapp.com/housing/static/img/demo-newsletter.png">
                <p>We feature your business in our weekly newsletter, where we let students know of new properties on the market.</p>
            </div>

        </div>

        <div class="row">
            <div class="highlight col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1">
                <div class="blue-bg">
                    <p class="lead">Our packages get your business seen by students and parents. They'll know about you before they even move in.</p>
                </div>
            </div>
        </div>

    </div>

</div>
